[2018-03-14 09:17] alexgrozav opened #2 "Typography improvements"
See where improvements are needed as we proceed with writing the typography documentation.

[2018-03-15 08:53] #2 closed

[2018-03-15 08:56] alexgrozav opened #4 "Move content styles to core"

[2018-03-15 09:35] #4 closed

[2018-03-15 09:37] alexgrozav opened #6 "Improve images styling"

[2018-03-16 08:25] #6 closed

[2018-03-16 08:25] alexgrozav opened #8 "Add table themes"
Themes were disabled when switching to the new version of Inkline. Rewrite them.

[2018-03-19 07:51] #8 closed

[2018-04-10 10:18] alexgrozav opened #16 "Input improvements"
- Radio circle is not centered.
- Clearable not working

[2018-04-13 12:14] #16 closed

[2018-12-28 16:24] alexgrozav opened #29 "Fix responsive tables"
- [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
Responsive table not working at all. Wrap the table with a div to make it responsive.

[2018-12-30 14:28] #29 closed, assigned to nobody

[2019-03-21 16:13] alexgrozav opened #31 "Update tooltip to accept v-model and handle more event types"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)

* **Please tell us about your environment:**

  - Version: 1.0.0
  - Browser: [all | Chrome XX | Firef

[2019-03-30 20:00] alexgrozav opened #32 "Add close button to modals"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

[2019-04-02 13:26] #32 closed

[2019-04-06 06:17] #31 closed

[2019-04-06 06:18] alexgrozav opened #33 "Fix ungrouped Radio behavior"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

[2019-04-06 16:04] #33 closed

[2019-04-14 16:12] BenoitPingris opened #35 "Navbar alignment does not work"
* **I'm submitting a:**
  - [x] Bug Report

* **What is the current behavior?**
The navbar nav placement does not work

* **What is the expected behavior?**
The <i-nav/> should be positionned on the right of the navbar
It seems that some classes are missing
[code]
The result is that the <i-nav/> is still on the left of the navbar.

* **Please tell us about your environment:**

  - Version: 1.0.0

[2019-04-15 14:46] alexgrozav commented on #35
Hey! Thank you for the bug report. It looks like the helper class is most likely missing.

If you inspect the `<i-navbar-items>` component, do you see the `_justify-content-end` class applied?

<img width="325" alt="Screen Shot 2019-04-15 at 5 44 01 PM" src="https://user-images.githubusercontent.com/6179477/56141836-4185ac00-5fa6-11e9-9a4b-cdab48095299.png">

If not, make sure you include Inkline'

[2019-04-15 15:03] BenoitPingris commented on #35
In fact, they are a lot of helper class that are missing :/ (like the text-center{left-right} and so on).
I did include the inkline.css file, I don't know why these classes aren't here :(

Furthermore, I'd like to report another bug I encountered. When I install another framework with npm (eg: `npm i vuelidate`, for some reasons, inkline is missing the postcss-preset-env and I have to reinstall it

[2019-04-15 16:32] alexgrozav commented on #35
Can you give me read access to the repo where this is happening?

The postcss error only appears if you're trying to transpile inkline.

https://inkline.io/docs/introduction/customization

Anyway, best would be to actually have the code where this is happening to be able to give you a solution.

[2019-04-16 10:28] alexgrozav commented on #35
I have found the issue. I'll provide an update in a few minutes.

[2019-04-16 16:09] alexgrozav commented on #35
Can you confirm that it works after updating to 1.12.2?

[2019-04-16 19:33] BenoitPingris commented on #35
I did update inkline to 1.12.2n and unfortunately as soon as I launch npm run serve I have the following error message:
[code]

[2019-04-16 19:35] alexgrozav opened #37 "Add multiple events and v-model support to dropdown"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)

Use the code that is present on the tooltip and popover as a base. Add the same features to the dropdown component.

[2019-04-16 19:36] alexgrozav opened #38 "Add datatables"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

Use the following article as a base for required features: https://uxdesign.cc/design-better-data-tables-4ecc99d23356

[2019-04-16 19:40] alexgrozav commented on #35
Ok I'm giving it another try with a fresh vue-cli project.

[2019-04-16 19:49] alexgrozav commented on #35
I've added another update (1.12.3) which works with a fresh vue-cli project. It won't require you to install any postcss plugin now and also made sure the helper classes are included.

Thank you so much for reporting this. Having used the uncompiled version for testing until now, I didn't realize the compiled CSS file wasn't complete.

[2019-04-16 20:03] BenoitPingris commented on #35
Oh nice, I switch to 1.12.3, rm node_modules and package-lock, did a `npm i && npm run serve` and it seems to work !
Nice thank you !

[2019-04-16 20:07] #35 closed

[2019-04-16 20:07] alexgrozav commented on #35
Great! Let me know if there's any other issue. Also, thanks a lot for giving inkline a try and helping out!

[2019-04-17 17:49] alexgrozav opened #39 "Add a proper linting configuration"

[2019-04-18 11:55] alexgrozav commented on #39
Fixed in #40

[2019-04-18 11:55] #39 closed

[2019-04-19 06:42] alexgrozav opened #41 "Add locale support for validation messages"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

[2019-04-19 11:34] alexgrozav opened #42 "Add Vue CLI Integration"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

[2019-04-19 11:34] alexgrozav opened #43 "Add Nuxt Integration"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

[2019-04-19 11:37] alexgrozav opened #44 "Add Gridsome Integration"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

[2019-04-28 09:14] alexgrozav opened #45 "Change Number Input behavior"
This is open for discussion.

**Scenario**: writing 55 into an input with a maximum value of 10 will change the value to 10.

**Current behavior**
Right now, writing a number larger than the `max` specified value will resolve to the maximum value. Writing 55 will change the value to 10.

**Possible behavior**
We could ignore inputting the second 5 and leave the value as 5 instead of changing to 10

[2019-05-04 14:07] BenoitPingris opened #46 "[Documentation] - Helper classes"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

We can see in some examples of the documentation that there are some helpers classes like the following `_text-center _text-white`.

I think it would be nice if there was a section in the documentation that would refer to these different classes so we don't have to inspect the code source or create our own classes.

I see that th

[2019-05-04 17:46] alexgrozav commented on #46
Good point, I'll start working on this.

[2019-05-08 06:50] mtancoigne opened #47 "Add "xs" sizes for more compact UIs"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

There's only a "sm" size for UI elements (buttons/inputs,...) which is pretty big

* **What is the expected behavior?**

 It would be wonderful to have smaller UI elements to make compact UIs. We don't need to build interfaces for mobiles only (with finger accessible UI elements)

* **Please t

[2019-05-08 19:16] alexgrozav commented on #47
Hey! I'll work on some changes to allow users to add their own sizes inside the stylus config.

Thinking of something like:

[code]

Which you would be able to easily override to:

[code]

[2019-05-08 19:19] alexgrozav commented on #46
Done in https://github.com/inkline/inkline.io/pull/32

[2019-05-08 19:19] #46 closed

[2019-05-08 21:38] mtancoigne commented on #47
Thank you for your quick response; I think your implementation is really good :)

[2019-05-11 09:14] mtancoigne commented on #42
What is missing for the Vue-cli integration ?

[2019-05-11 09:53] mtancoigne opened #50 ""i-select" elements does not render default value"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
When creating `i-select` elements with a default value, the label is not rendered. I.e. : https://codepen.io/mtancoigne/pen/LoZVOq

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viaht

[2019-05-11 10:02] mtancoigne opened #51 "Buttons of "i-input-number" submits the form"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
When clicking on the "plus/minus" buttons of an `i-input-number` element, it submits the form. I.e.: https://codepen.io/mtancoigne/pen/KLMpLZ

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the prob

[2019-05-11 10:11] mtancoigne opened #52 "Forms without a schema fails to submit"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
When submitting a form with no schema defined, it fails with the following console error:

[code]

I.e.: https://codepen.io/mtancoigne/pen/xNOwKe?editors=1111

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2019-05-11 10:15] mtancoigne opened #53 "Manually call form validation"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

Form validation is only on `blur` and `input` events.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)

I'd like to validate manually when I decide to

[2019-05-12 07:40] alexgrozav commented on #42
We need to add generator code for easily installing inkline through the  cli.

I found this article explaining how to do it: https://dev.to/vuevixens/how-to-build-a-vue-cli-plugin-3b6b

[2019-05-12 09:14] mtancoigne commented on #42
I read the article, it explains the process really well. And as I understand, we need a separate repo for this plugin. Maybe it can be `vue-cli-plugin-inkline` ?

[2019-05-12 14:07] alexgrozav commented on #42
Yes, `vue-cli-plugin-inkline` would be the proper name for it. I'm currently on vacation, but I'll create the repository for it.

[2019-05-12 15:44] mtancoigne commented on #42
Ok, no problem :) I'll see if I can do something in the next few days.

[2019-05-12 17:44] alexgrozav commented on #53
You can use `this.schema.validate()` to manually validate the schema.

I know it's not documented and perhaps it should be. Each schema group and schema object has a `validate()` method which you can call to have it validate the schema tree (if you call, let's say `this.schema.address.city.validate()`, it will validate all of it's ancestors as well: `this.schema.address` and `this.schema` itself).

[2019-05-12 17:44] alexgrozav commented on #53
You can use `this.schema.validate()` to manually validate the schema.

I know it's not documented and perhaps it should be. Each schema group and schema object has a `validate()` method which you can call to have it validate the schema tree (if you call, let's say `this.schema.address.city.validate()`, it will validate all of it's ancestors as well: `this.schema.address` and `this.schema` itself).

[2019-05-12 17:44] alexgrozav commented on #53
You can use `this.schema.validate()` to manually validate the schema.

I know it's not documented and perhaps it should be. Each schema group and schema object has a `validate()` method which you can call to have it validate the schema tree (if you call, let's say `this.schema.address.city.validate()`, it will validate all of it's ancestors as well: `this.schema.address` and `this.schema` itself).

[2019-05-13 19:23] mtancoigne commented on #53
That's totally what I was looking for :)

I guess I had a bad schema when I tried!

[2019-05-13 19:23] #53 closed

[2019-05-14 06:53] #51 closed

[2019-05-14 06:53] #52 closed

[2019-05-14 07:26] alexgrozav opened #54 "Update Select $attr binding"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

Select attributes are bound to inner child. We should bind them to the parent wrapper and add props such as `placeholder` for the child input instead.

[2019-05-15 11:42] krajcovic46 opened #55 "Disable scrolling of the page while a modal is shown"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

Currently, swiping/scrolling while a modal is shown scrolls the faded page in the background.

* **What is the expected behavior?**

While a modal is shown, scrolling/swiping the page in the background should be disabled.

* **Please tell us about your environment:**

  - Version: 1.14.2
  - B

[2019-05-15 12:02] krajcovic46 commented on #45
Hello,

the possible behaviour (ignoring the next input digit if it makes the current number bigger than the `max`) is the least ideal of them all simply because it's confusing -- if a form field is active, there is no reason to ignore the input. If a person makes an action, they expect a reaction. Because of this, having some kind of feedback for the user is a must. Even if an error message sayin

[2019-05-16 18:07] alexgrozav commented on #55
Good point, I'll fix this in the next version. I'm currently on vacation until 23rd of May, so my work time is pretty limited. I'll still be able to answer messages, though. Thanks for reporting this.

[2019-05-16 18:11] alexgrozav commented on #50
Fixed in https://github.com/inkline/inkline/pull/56.

[2019-05-16 18:11] #50 closed

[2019-05-17 06:06] alexgrozav commented on #45
I agree that changing the users input is not the right way to go here.

The error state you're mentioning can be easily done through Inkline's Form Validation and it's probably best that we don't interfere with that.

The max and min are optional and should influence the actual input of the user.

Question is, which one would be more intuitive? We'll need to look at other ui frameworks (or maybe t

[2019-06-06 10:59] #55 closed

[2019-06-08 22:12] adrazich opened #58 "Available Icons"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

When I go to the [icon documentation](https://inkline.io/docs/components/icon) there are only a few icons shown for use. It doesn't contain a full list of available icons.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if poss

[2019-06-09 13:57] mtancoigne commented on #58
Hi @adrazich,

According to [the stylesheet](https://github.com/inkline/inkline/blob/master/src/css/config/_icons.styl), the icons in the documentation seems to be the only one available.

[2019-06-09 14:21] adrazich commented on #58
Alright, that's what I was afraid of. Are more icons going to be added in the future? For now I will stick with font awesome.

[2019-06-09 14:54] mtancoigne commented on #45
Firefox handles the max value when the form is submitted, the same way `required` fields are handled: a message is shown when the input don't fit.

I think it's best to stick to browser behaviors when we can. If the dev uses a validation mechanism (the one provided by Inkline or another), then a message can be shown stating that the value is incorrect. If he doesn't, the browser handles it.

That

[2019-06-09 19:02] alexgrozav commented on #58
Hey @adrazich,

The icons available are the ones natively used within Inkline's components (arrows, close icons, circles, etc.). I've tried to keep the list of icons as restricted as possible to not affect Inkline's size, while still providing a list of the most common icons.

You'll have to rely on a 3rd party icon framework such as Font Awesome for a complete spectrum of icons.

[2019-06-09 19:02] #58 closed

[2019-06-09 19:20] alexgrozav commented on #45
Perhaps it's best if we just remove the `max` and `min` implementation from the `i-number-input` and leave it to the validation setup?

[2019-06-10 05:35] alexgrozav commented on #42
@mtancoigne What's the best way to keep in touch with you? Send me an email at alex@grozav.com

[2019-06-10 05:35] #42 closed

[2019-06-12 05:39] mtancoigne commented on #45
Yes, we should keep the props and remove the current behavior when input is changed.

[2019-06-14 10:10] alexgrozav commented on #47
I've implemented and refined this in 1.15.1.

Now you have a `--sizes` stylus variable which can be configured. By default, it will enable `(sm md lg)`, but you can now configure it to enable `(xs sm md lg xl)`, which will all be available out of the box.

[code]

You can also configure `--size-multipliers` if you feel like it. See https://github.com/inkline/inkline/blob/master/src/css/config/_siz

[2019-06-14 10:10] #47 closed

[2019-06-19 15:54] alexgrozav commented on #37
Only documentation was needed. The `v-model` directive worked properly when assigned to the `i-dropdown-menu` for visibility changes.

[2019-06-19 15:54] #37 closed

[2019-06-23 19:33] alexgrozav opened #59 "Add Integration tests"
Need to write integration tests to make sure integration is working properly for:
- npm installation
- vue cli plugin
- nuxt module

We should probably use Cypress for it.

[2019-06-25 16:33] alexgrozav opened #60 "Switch from Stylus to SASS"
This would probably increase adoption.

I wrote the project styles in Stylus simply because it's what I expected the SASS Indented syntax to be.

SASS ended up being the most used and appreciated option in State of CSS, while Stylus is the last. https://2019.stateofcss.com/technologies/pre-post-processors/

Everything written in Stylus would probably require minor changes to be turned into SASS (i

[2019-06-25 18:07] mtancoigne commented on #60
As far as I can see, Stylus is not really used these days and the repo is not evolving really much.

Switching to SASS would bring a better integration with existing tools. I give a :+1: for the switch :)

Some links I have found around:

- https://www.slant.co/versus/762/764/~stylus_vs_sass
- https://stackshare.io/stackups/sass-vs-stylus, check the number of projects for both techs
- [Stylus repo

[2019-06-27 08:06] osazos commented on #60
Moving to SASS seems to be a better choice, you already argumented why.
In case SASS is choosen, should we use `.sass` or `.scss`syntax`? For me it should be `.scss`: [https://stackoverflow.com/questions/5654447/whats-the-difference-between-scss-and-sass](https://stackoverflow.com/questions/5654447/whats-the-difference-between-scss-and-sass)

[2019-06-27 11:31] alexgrozav commented on #60
@osazos I suppose `.scss` is the most widely used, and is the one we should be using as well. Even though I prefer the indentation based syntax, it has some known problems (no support for multiline maps) when compared to the standard syntax.

[2019-06-27 12:43] alexgrozav commented on #43
Done in #61

[2019-06-27 12:43] #43 closed

[2019-06-29 21:42] Merthod opened #62 "Nuxt installation crashes"
* **I'm submitting a:**

  - [ X ] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
Nuxt compilation crashes at a brand new install.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** via https://plnkr.co or similar.)

The following path, provided for Nuxtjs in the doc

[2019-06-29 21:55] alexgrozav commented on #62
Can you try version `1.15.3`? In `1.15.2` I forgot to include the `nuxt` folder in the published npm package. Sorry about that!

[2019-06-29 22:31] alexgrozav commented on #62
There was a bit of trouble in `1.15.3` as well because of how webpack loads packages from node_modules in the Vue SSR plugin. The module itself worked, but wasn't loading properly. I got help from @pi0 (one of the nuxt.js devs) to fix it.

[2019-06-29 22:39] #62 closed

[2019-06-30 04:51] iwatakeshi opened #63 "Add loading indicator"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)

* **Please tell us about your environment:**

  - Version: 1.0.0
  - Browser: [all | Chrome XX | Firef

[2019-07-01 07:18] alexgrozav commented on #63
Hey! Thank you for the feedback. I'll add a loading spinner and loading button state for the next version.

[2019-07-04 20:39] mtancoigne commented on #60
I started to convert some files here, and I think it won't be that hard to do the conversion. There are some Stylus methods that needs to be re-written in SCSS, but I haven't been blocked yet :)

[2019-07-05 05:43] mtancoigne commented on #60
Here are the first changes, to continue the discussion: #64

Github don't show the diffs of renamed files, so it's a bit hard to compare without cloning first.

[2019-07-05 07:44] alexgrozav commented on #60
@mtancoigne Great work so far! I'll be on vacation until 22nd of July, so I won't be able to help until then.

[2019-07-07 12:44] alexgrozav opened #65 "Select Option sizes"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
The select option size does not change based on the select input size.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
The select option size should ch

[2019-07-16 12:42] alexgrozav opened #66 "Number input is wrapping on mobile"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

![1641B284-3FCC-490D-B83F-8EBA72A6D844](https://user-images.githubusercontent.com/6179477/61295265-4e51b000-a7e0-11e9-8c96-b16f4c8e0f3c.jpeg)

[2019-07-16 14:56] TheJaredWilcurt commented on #60
I was pretty excited about Inkline, but when I went to customization and saw it wasn't using Sass it was an immediate "no" from me.

**Checkout Bootstrap's history:**

1. Creator of Bootstrap is asked by his friend, the creator of Less, to use Less when building Bootstrap.
1. Bootstrap 1 uses Less.
1. Community manually ports Bootstrap over to Sass
1. Boostrap 2 switches to support both Less and S

[2019-07-16 15:06] TheJaredWilcurt commented on #60
Please see Satisfaction vs Usage chart from State of CSS 2019:

* https://2019.stateofcss.com/technologies/

`.sass` syntax is better for the common "everyday" stuff you do. `.scss` is good for beginners, or for niche cases, like tabular-data-like styles, or Sass maps. Here's a break down. The two files can interact with each other without any problem. So I tend to stick with `.sass` and only swit

[2019-07-17 07:29] mtancoigne commented on #60
And the SASS compiler fails loudly when there is an issue in code (I think about undefined variables), where Stylus uses the variable string in output, silently breaking stuff.

[2019-07-21 05:52] alexgrozav commented on #60
@TheJaredWilcurt I agree with what you wrote. Switching to SCSS will increase adoption, devs won't have to change tooling and it will also attract more contributors. Since we're using maps heavily throughout the project, we went for the `.scss` extension.

@mtancoigne has been actively working on the scss rewrite and I'll start the review, integration and documentation process once I'm back from v

[2019-08-13 09:43] alexgrozav commented on #60
We're done with the Sass migration! Starting from [@inkline/inkline@1.16.1](https://github.com/inkline/inkline/releases/tag/1.16.1), stylesheets are entirely written in SCSS.

[2019-08-13 09:43] #60 closed

[2019-08-15 03:36] mtancoigne opened #68 "Events on dropdown items are ignored"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**

When clicking on a dropdown item, `@click` event is ignored.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)

The item should emit the event.

* **Ple

[2019-08-15 04:03] mtancoigne commented on #68
I'm closing this, `@click.native` still works.

[2019-08-15 04:03] #68 closed

[2019-08-15 14:58] TheJaredWilcurt commented on #60
@alexgrozav

* https://github.com/inkline/inkline/blob/master/.github/contributing.md#stylus

[2019-08-20 01:59] cassmbautista opened #69 "Select not updating selected value after filters are changed"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
When changing the filters for the i-select-option during runtime, this error is produced:
![image](https://user-images.githubusercontent.com/35530271/63311418-fa992180-c2cb-11e9-8040-a5996b79803e.png)
The current behavior of the select is that the value selected is not correct. See this JS fidd

[2019-08-20 16:08] alexgrozav commented on #69
Hi, there seems to be a typo in your code. The default select is using `slectedFilter`, while the Inkline one is using `selectedFilter`. Is that, perhaps the issue that you're facing?

[2019-08-20 16:30] cassmbautista commented on #69
There was a typo here is the updated js fiddle:
* https://jsfiddle.net/816d9skh/

The issue is still occurring.

[2019-08-22 04:07] mrcasablr opened #71 "Add a date/time component"
* **I'm submitting a:**
  - [ ] Bug Report
  - [ x] Feature Request

* **What is the current behavior?**
Looking for a simpler way for the user to select date/time for form input.

* **Other information** (Detailed explanation, stacktraces, related issues, suggestions how to fix, links for us to have context, eg. stackoverflow, gitter, etc.)

A calendar component would make it easier to accept dat

[2019-08-22 05:35] alexgrozav commented on #66
Fixed in #70.

[2019-08-22 05:35] #66 closed

[2019-08-22 17:37] jack-cooper opened #72 "Add a password input"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the expected behavior?**

Hi there, I'd like to start by saying wonderful job on this library and everything looks amazing. I've looked everywhere relevant I can find in both the docs and source and can't see an option to give an `i-input` `type="password"`, or a separate component to do essentially the same.

[2019-08-23 05:24] alexgrozav commented on #72
Hey! Thank you so much for the kind words.

The `i-input` component uses a normal `input` behind the scenes and can be used together with type the usual way to create a password input: `<i-input type="password"></i-input>`.

I'll update the docs to reflect this information properly. Thank you!

[2019-08-23 05:26] alexgrozav commented on #69
Thanks for the update! I'm working on it.

[2019-08-23 13:11] #72 closed

[2019-08-24 20:08] Cristy94 opened #74 "Hovering Select menu does not change cursor style."
* **I'm submitting a:**

  - [X] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
**Select** component (dropdown) does not have `cursor: pointer` to indicate it is interactable. Not consistent with other UI elements.

* **What is the expected behavior?**
Hovering the dropdown should change the cursor to the hand icon.

* **Please tell us about your environment:**
https://ink

[2019-08-25 01:20] cassmbautista commented on #69
While the fix works on a laptop this does not fix the issue on mobile, since the options are not being reset when the slots are updated. I have a branch open to fix this issue, however, I am stuck trying to figure out how to change the slots in the middle of a test, that kind of goes against vue-test-utils. See https://github.com/cassmbautista/inkline/tree/issue69-bugfix-async-select-update

[2019-08-25 09:23] alexgrozav commented on #69
Ok, good point. I'm looking into it as well.

[2019-08-30 16:53] alexgrozav opened #76 "Add loading spinner to button"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

[2019-08-30 17:31] alexgrozav commented on #63
I've added an `ILoader` component in Inkline version 1.16.3. Check it out at https://inkline.io/docs/components/loader

[2019-08-30 17:31] #63 closed

[2019-08-31 15:37] alexgrozav commented on #76
Fixed in #77

[2019-08-31 15:37] #76 closed

[2019-09-06 14:18] tomtakumi opened #78 "No API for hamburger button or collapse in NavBar"
* **I'm submitting a:**

  - [ ] Bug Report
  - [X] Feature Request

* **What is the current behavior?**
I would like to be able to control collapsing the items when an item is clicked. Right now it remains collapsed even after you clicked 1 item.
![image](https://user-images.githubusercontent.com/13040075/64434383-56c7b800-d0b8-11e9-9c10-ebe5e0057e8c.png)

* **What is the expected behavior?** (If

[2019-09-09 12:52] mtancoigne opened #80 "Have customizable styles"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

Styles are mainly scoped in components, which makes them to customize.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)

It would be great to be able t

[2019-09-09 13:04] mtancoigne opened #81 "Ability to only use some of the components"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**
Importing Inkline in a Vue project makes the the compiled "application.js" grow from 783kb to 3.05Mb (without using it).

* **What is the expected behavior?**
It would be great if we could only import the components we need.

[2019-09-09 19:17] alexgrozav commented on #81
Have you tried the Basic Installation - Tree Shaking guide? https://inkline.io/docs/introduction/installation

It should work. If it doesn't, it's an issue.

[2019-09-09 19:19] alexgrozav commented on #80
The `overrides/xxx` stylesheet will need to be included for every component, before the component styles (in order to override `!default`).

Try the methods described here: https://inkline.io/docs/introduction/customization

[2019-09-09 19:24] alexgrozav commented on #69
Hey! The bug should be fixed in `@inkline/inkline@1.16.5`. Can you confirm that it's working for your use case as well?

Thank you!

[2019-09-09 20:18] mtancoigne commented on #80
Ok, I wasn't aware of this method for the styles, I think I'm getting old :)

Thanks, i'll try is as soon as possible.

[2019-09-09 20:18] #80 closed

[2019-09-09 20:19] mtancoigne commented on #81
Well, I admit I didn't. This is great. Thanks again !

[2019-09-09 20:26] mtancoigne commented on #81
This works but I still notice that with tree shaking and `INavbar` component, application.js is still 2.5Mo (during dev, so I guess the production build will be smaller)

[2019-09-10 15:35] alexgrozav commented on #81
Hmm, that's weird. I'll investigate this.

[2019-09-10 16:18] alexgrozav commented on #74
Thank you for the suggestion. I've updated the `:focus` and `:hover` styling in #82.

[2019-09-10 16:18] #74 closed

[2019-09-10 16:22] alexgrozav commented on #65
Fixed in #83.

[2019-09-10 16:22] #65 closed

[2019-09-11 04:47] alexgrozav opened #84 "Add support for variable number of input append and prepend elements"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**
At the moment, only one append or prepend elements is supported. The border radius doesn't apply correctly and the elements start wrapping on smaller screens.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal

[2019-09-11 07:05] alexgrozav commented on #84
Done in #85.

[2019-09-11 07:05] #84 closed

[2019-09-11 17:35] alexgrozav commented on #78
Thank you for reporting this! Fixed in #86. It will be released in `@inkline/inkline@1.15.7`.

[2019-09-11 17:35] #78 closed

[2019-09-12 07:18] alexgrozav opened #87 "Component exporting architecture"
* **I'm submitting a:**

  - [] Bug Report
  - [x] Feature Request

* **What is the current behavior?**
There is a lot of code duplication for importing/exporting and registering components.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
Have one place fo

[2019-09-12 07:53] alexgrozav commented on #81
I've looked into it. With a freshly setup `@vue/cli` project, tree shaking is working as it should, and I'm not having the sizes you've mentioned.

No tree shaking
![image](https://user-images.githubusercontent.com/6179477/64764768-7f81fe80-d54b-11e9-84ee-f4fed02b0935.png)

Tree shaking
![image](https://user-images.githubusercontent.com/6179477/64764750-74c76980-d54b-11e9-905f-36aec6c1cd2a.png)

[2019-09-12 07:53] #81 closed

[2019-09-23 09:40] tomtakumi commented on #78
![image](https://user-images.githubusercontent.com/13040075/65415793-5d5f6a80-ddee-11e9-9e13-9def35c8ba8e.png)

@alexgrozav i hope I'm not bugging you about this but can't seem to make it work.

[2019-09-25 15:12] alexgrozav commented on #78
Hey! Perhaps I misunderstood your request.

You want to close the navbar when an `i-nav-item` is clicked. Am I correct?

[2019-09-27 10:53] tomtakumi commented on #78
:) Yes you are correct. I don't know how stupid I am. I can't make it work. I've already updated to new version.
![image](https://user-images.githubusercontent.com/13040075/65764359-5c477980-e11d-11e9-9d81-35695313ddad.png)

[2019-09-28 20:47] alexgrozav commented on #78
Hey! That was entirely my fault. I double checked the fix I made and it looks like using the `i-nav-item` as a `router-link` requires me to provide a native event.

I've fixed it in `@inkline/inkline@1.16.10` and it should be enabled out of the box. Can you try it out?

Thank you for reporting this!

[2019-09-29 21:51] tomtakumi commented on #78
Perfect! I can't believe you're running this wonderful UI alone.

[2019-10-01 11:14] alexgrozav commented on #78
Thank you! I'm very proud of it. I hope it'll get more traction and I'll be able to have many regular contributors someday. However, I'll keep making it better until it does! :)

[2019-10-11 16:02] webidew opened #91 "Treeshaking compile produce error"
* **I'm submitting a:**

  - [*] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**

Treeshaking compiling produces error as below:

Module parse failed: Unexpected token (5:14)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
|
| export class PopupManager {

|

[2019-10-11 19:26] alexgrozav commented on #91
Thank you for the report. I'm looking into it.

[2019-10-12 06:49] alexgrozav commented on #91
Hey, I've looked into it and the tree shaking is working fine. The part that you're missing is described in https://inkline.io/docs/introduction/installation at the Tree Shaking section.

For vue-cli, you'll need to add Inkline to your transpiled dependencies in `vue.config.js` as follows:

[code]

[2019-10-12 06:49] #91 closed

[2019-10-12 06:54] webidew commented on #91
Done that.... But still produces error... The error produced specifically says that unexpected token. I believe the problem was not on the code but there are one or some specific package required but you did not mentioned as node-sass and sass loader was already withun my dependencies package.

[2019-10-12 06:55] webidew commented on #91
It was okay if I use normal usagr. It only produces error in treeshaking installation.

[2019-10-12 06:59] alexgrozav commented on #91
I can go into a team viewer session and check it out with you. Can you message me on discord?

[2019-10-12 07:03] webidew commented on #91
Outside right now. But I will try to ask my friends to zip the project and send it to my phone or upload it anywhere. Will send it to you.

[2019-10-13 17:37] alexgrozav opened #92 "Clearable input icon"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
Clearable input icon doesn't use Inkline icons and looks bad.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
Clearable input icon should be using the

[2019-10-14 05:05] alexgrozav opened #93 "Add fullscreen and form modal example"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

Add examples for full screen modal and form modal to the docs.

[2019-10-16 14:57] #92 closed

[2019-10-22 20:27] xvzf opened #95 "Safari `middle-xs` in nested container is not working as expected"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
`middle-xs` attribute is ignored for nested containers in safari but working in other browsers.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
You can

[2019-10-23 13:11] alexgrozav commented on #95
Hey! This seems to be related to how Safari treats `align-items: stretch`. Chrome and Firefox consider the stretched item to be 100% of the available height, but Safari doesn't.

The solution to your issue will be to add the `._height-100` helper class to the `<i-layout-content>` component as well:

[code]

[2019-10-23 13:15] alexgrozav commented on #95
However, I'll try to see if there's any workaround for making safari get the height properly.

[2019-10-23 13:27] alexgrozav commented on #95
Another way you could proceed would to turn your `i-layout-content` into a flexbox element.

[code]

[2019-10-23 18:06] xvzf commented on #95
Thanks @alexgrozav with the workaround everything is fine! :-)

[2019-10-23 18:48] #95 closed

[2019-10-23 18:48] alexgrozav commented on #95
You're welcome! Thank you for using Inkline. :)

[2019-11-01 19:47] IsidroMar95 commented on #71
You can use this light weight library:
https://flatpickr.js.org/
It is cool and minimalist

[2019-11-03 18:08] IsidroMar95 opened #97 "NuxtJs- get warning "export 'default' (imported as 'Inkline') was not found in '@inkline/inkline/src/index.js'"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
in a new Nuxt Project i want customize the colors and i follow the documentation, but when i run `npm run dev` the terminal throw me the next warning:
![Screenshot_1](https://user-images.githubusercontent.com/23019968/68089502-fd1d0900-fe2e-11e9-95f0-88b07b121114.png)
i dont know wheter my conf

[2019-11-03 21:02] alexgrozav commented on #71
Flatpickr sounds like a great choice, being so lightweight.

[2019-11-03 21:10] alexgrozav commented on #97
Fixed in version 1.17.4. Thank you for reporting the issue!

[2019-11-03 21:10] #97 closed

[2019-11-05 08:34] alexgrozav opened #98 "Add SCSS variables documentation"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

We need to document all of Inkline's SCSS configuration variables. This needs to be done on a new page under the Introduction section.

[2019-11-05 08:35] alexgrozav opened #99 "Add SCSS variables documentation for each component"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

We need to add SCSS variables documentation for each component. This should come as a new tab under the **API** section of each component.

[2019-11-05 08:37] alexgrozav opened #100 "Navigation Drawer component"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

We require a navigation drawer component similar to the navbar component which can be collapsed/triggered externally via v-model. Basically this would be a vertical navbar.

We need to control its appearance so that it can be collapsed off-screen to the side, with both a push mode and an overlay mode.

[2019-11-05 08:39] alexgrozav opened #101 "Update Customization documentation"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

The Introduction / Customization page needs to be improved. The update dependencies part should be under @vue/cli or webpack. The focus needs to be on providing different ways of installing it.

[2019-11-05 09:44] alexgrozav opened #102 "Add red asterisk in label ::before for required fields"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
Required fields do not have any indicator for the label.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
When setting a form group as required, the lab

[2019-11-06 15:16] jabez007 opened #103 "$font-family-primary-* is currently not overridable"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**

following the instructions from the [customization documentation](https://inkline.io/docs/introduction/customization) to set custom fonts [per the typography documentation](https://inkline.io/docs/core/typography) does not override the `-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ox

[2019-11-07 20:14] alexgrozav commented on #103
Fixed in v1.17.5. Thank you for reporting the issue.

[2019-11-07 20:14] #103 closed

[2019-11-07 20:46] alexgrozav opened #105 "Fix IDropdown when in collapsed INavbar"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
The dropdown has default behaviour when navbar is collapsed.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
The dropdown should be collapsed as a seam

[2019-11-08 08:56] alexgrozav opened #106 "Add docs example for INavbar with IButton"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**
Currently, there's an example for a dropdown, but none for navbar with only an IButton. We should add one to make things easier for new users.

[2019-11-10 09:37] alexgrozav opened #107 "Add v-click-outside handler to INavbar"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**
Currently, the navbar can only be closed from the toggle button and by clicking an item.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
We should have

[2019-11-21 21:34] alexgrozav commented on #100
Done in #108.

[2019-11-21 21:35] #100 closed

[2019-12-03 05:36] mybigman opened #109 "Class Consistency"
* **I'm submitting a:**

  - [X ] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**

Prefixing for classes. Examples.

-responsive
-fluid
-thumbnail

_border-top
_background-primary
_display-inline

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co o

[2019-12-03 20:24] alexgrozav commented on #109
Hey, are you referring to the mixed use of dashes `-` and `underlines`?

[2019-12-04 01:58] mybigman commented on #109
@alexgrozav  yes

[2019-12-04 02:45] mybigman opened #110 ""export 'default' (imported as 'Inkline') was not found in '@inkline/inkline/src/index'"
* **I'm submitting a:**

  - [ x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
Complies with warning -

warning  in ./src/main.js

"export 'default' (imported as 'Inkline') was not found in '@inkline/inkline/src/index'

Same or similar issue as https://github.com/inkline/inkline/issues/97 however I'm not using NUXT

![image](https://user-images.githubusercontent.com/1289

[2019-12-05 10:34] alexgrozav commented on #110
The default export has now moved to `@inkline/inkline/src/main` to provide better tree shaking.

In `@inkline/inkline/src/index` you will only find the individually exported components.

Is this referenced in the documentation somewhere?

[2019-12-05 10:41] alexgrozav commented on #109
Inkline uses RSCSS (https://rscss.io/) for naming classes. It's a components-first naming system that makes it easy to differentiate when you're targeting the styles for a component (i.e. `.button`), a specific component variant (i.e. `.-disabled`), or simply adding a utility class that isn't part of the component itself (i.e. `._margin-top-1`).

The ones with a dash `-` are modifier classes and a

[2019-12-05 10:44] #109 closed

[2019-12-05 12:07] mybigman commented on #110
@alexgrozav  thanks for that... the docs would need updating.

https://inkline.io/docs/introduction/installation

Under tree shaking.

<img width="821" alt="image" src="https://user-images.githubusercontent.com/1289916/70233828-70f65c80-17b3-11ea-95e1-16c5ed9c1356.png">

It still produces the code warning like my screen shot but atleast its working now as previously it wouldn't render the scss.

[2019-12-10 12:39] #110 closed

[2019-12-19 13:14] alexgrozav opened #111 "Add funding URL"
Npm now supports an `npm fund` command. We need to add the following to `package.json` to support it:

[code]

[2019-12-20 11:16] alexgrozav commented on #111
Done in #112.

[2019-12-20 11:16] #111 closed

[2020-01-10 15:43] Haizone opened #113 "rel support"
hi
i love your work!
plz add a rtl then i can use in my country :)

[2020-01-11 07:18] alexgrozav opened #114 "Fix broken tests after Vue update"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
There are a few failing tests which got broken with the latest Vue update.

[2020-01-11 08:28] alexgrozav commented on #114
Fixed in #115

[2020-01-11 08:28] #114 closed

[2020-01-11 08:32] alexgrozav opened #116 "Convert to Lerna monorepo"
We should consider moving the docs together with the project files in order to have a more tightly coupled architecture.

Has anyone used Lerna before?

[2020-01-17 11:50] alexgrozav opened #117 "Add documentation 404 page"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

We need to add a proper 404 page. The default nuxt one doesn't look bad, but the text is positioned incorrectly.

[2020-01-22 15:56] alexgrozav opened #118 "Add support for multiple sticky DataTable columns"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**
Right now, only one DataTable sticky column is supported.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
Having multiple sticky columns would require

[2020-01-24 23:07] joshuadempsey commented on #107
Is there any progress on this issue @alexgrozav

[2020-01-26 22:21] alexgrozav commented on #107
I'll start working on it once the DataTables branch is merged.

[2020-01-27 12:17] alexgrozav commented on #38
Done in #119

[2020-01-27 12:17] #38 closed

[2020-01-27 15:39] alexgrozav opened #120 "Linkable template and improvements"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
We cannot use v-on:click.native on non-components anymore. It is triggering a console warning.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnkr.co or similar.)
Use a co

[2020-01-27 16:11] alexgrozav commented on #120
Fixed in #121

[2020-01-27 16:11] #120 closed

[2020-01-30 22:08] jabez007 opened #124 "ListGroupItem throwing errors from Linkable"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**

After upgrading to version 1.20.1 the ListGroupItem component throws several

errors that seem to stem from the Linkable component that is being extended

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal dem

[2020-01-30 22:13] jabez007 commented on #124
Also, v.1.19.0 appears to be the last version that does not throw these errors

[2020-02-01 08:38] alexgrozav commented on #124
Looking into it now. Thank you for letting me know!

[2020-02-01 14:17] alexgrozav commented on #124
I wasn't able to reproduce it, but I think I know what's causing it. I've released 1.20.2 with a fix. Can you try it out and confirm that it's working now?

[2020-02-02 09:05] alexgrozav opened #125 "Update Popper.js to version 2"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

Popper.js@2.x has been released and can be found under `@popperjs/core`. Update the `PopupProviderMixin.vue` file.

[2020-02-02 21:23] alexgrozav commented on #116
Done in #123

[2020-02-02 21:23] #116 closed

[2020-02-03 06:42] Mondanzo opened #126 "Support for own svg icons"
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

Add support for custom svg files for the `<i-icon>` component or other kind of support for own svg icons

[2020-02-04 19:59] jabez007 commented on #124
Yeah, it looks like it might have actually been more of an issue of out of date dependencies in my project.

I updated Inkline to  v1.20.2 and was still getting the same errors, but then I updated the Vue CLI plugin for Babel to v4.1.0 and got it working.

[2020-02-04 19:59] #124 closed

[2020-02-06 20:11] Nelepseo opened #127 "Form validate function throwing errors when when executing on a schema."
* **I'm submitting a:**

  - [X] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
When executing the function,
`this.form.validate()`
the error "Cannot read property 'getSchema' of undefined" is thrown.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem** viahttps://plnk

[2020-02-07 09:45] alexgrozav commented on #127
I'm looking into it now. Thank you for reporting this.

[2020-02-10 17:12] alexgrozav commented on #127
Fixed in #128. Please wait for 1.20.3 release.

[2020-02-10 17:12] #127 closed

[2020-02-11 13:40] alexgrozav commented on #107
Added in #129. Please update `@inkline/inkline` to 1.20.4 and read the [release notes](https://github.com/inkline/inkline/releases/tag/v1.20.4).

[2020-02-11 13:40] #107 closed

[2020-02-17 10:02] alexgrozav commented on #54
Done in #134

[2020-02-17 10:02] #54 closed

[2020-02-17 15:03] jdlennoxs opened #135 "Nuxt module appears to be causing nuxt build failure"
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
Nuxt builds failing when including inkline as a module

`yarn add @inkline/inkline`
Inkline added to nuxt.config as per documentation
Running any nuxt commands results throws a fatal error when looking for the inkline module from the inkline nuxt module. Error below

Seemingly an error with the

[2020-02-18 12:49] alexgrozav commented on #135
I'm looking into it now. Meanwhile, you can add inkline as a plugin by doing the following:

1. Create a plugin file in `plugins/inkline.js`
2. Add the following to it:
[code]

[2020-02-21 06:29] alexgrozav commented on #135
I've added nuxt module integration tests so this shouldn't happen again.

The nuxt module is now available by running `npm install -D @inkline/nuxt`. Make sure you check out the new nuxt.js module documentation here: https://inkline.io/docs/introduction/installation

[2020-02-21 06:29] #135 closed

[2020-02-21 06:30] alexgrozav commented on #59
Added in #136

[2020-02-21 06:30] #59 closed

[2020-02-21 14:12] tomtakumi opened #137 "Sidebar z-index issue"
* **I'm submitting a:**
  - [X] Bug Report

* **What is the current behavior?**
The sidebar position is below the content itself.

sidebar not collapsed
![image](https://user-images.githubusercontent.com/13040075/75041097-cb9a7d00-54b3-11ea-9751-890583db1286.png)

sidebar collapsed
![image](https://user-images.githubusercontent.com/13040075/75041161-ee2c9600-54b3-11ea-8184-f1ed4d0590d8.png)

* **P

[2020-02-22 10:44] alexgrozav commented on #137
Hey! Thank you for reporting this. The bug should be fixed in #138 . Can you test it out for your case and let me know?

Please update to 1.21.1 first.

[2020-02-22 10:44] #137 closed

[2020-02-22 13:38] tomtakumi commented on #137
Fixed! Thanks for the quick fix.

[2020-02-22 14:19] alexgrozav commented on #137
I'm happy to hear that. You're welcome! :)

[2020-03-03 09:37] alexgrozav opened #139 "Change sidebar wrapper position to static by default."
* **I'm submitting a:**

  - [x] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**
The sidebar-wrapper doesn't render if outside `display: block`.

[2020-03-03 10:59] alexgrozav opened #140 "Add info for transformIgnorePatterns when testing components that import Inkline components"
* **I'm submitting a:**

  - [ ] Bug Report
  - [ ] Feature Request
  - [x] Documentation

[code]

[2020-03-15 14:48] danrocha opened #144 "@inkline/nuxt - npm install fail"
* **I'm submitting a:**

  - [X] Bug Report
  - [ ] Feature Request

* **What is the current behavior?**

Cannot install using:

`npm i -S @inkline/nuxt`

Results:

[code]

Tried with versions 1.21.2 and 1.21.1 and both **do not work**.

However:

**v1.21.0 installs with no problems.**

[code]

[2020-03-15 23:14] alexgrozav commented on #144
Thank you for reporting this. I'll remove postinstall script.

[2020-03-16 00:29] alexgrozav commented on #144
Can you please try 1.21.4 and tell me if it fixes the error?

[2020-03-16 10:26] danrocha commented on #144
it works fine now, thank you.

[2020-03-16 10:26] #144 closed

[2020-03-30 14:25] Nelepseo opened #149 "Ability to add @events(namely @click) to table row in Datatable and disable the search bar in Datatable."
* **I'm submitting a:**

  - [ ] Bug Report
  - [x] Feature Request

* **What is the current behavior?**

We are not able to set @click options for rows in the i-datatable component.
We are also unable to disable and remove the Search Bar inside the i-datatable component as well.

* **What is the expected behavior?** (If the current behavior is a bug, please provide the steps to reproduce and if p

[2020-03-30 18:59] alexgrozav commented on #149
Thank you for the feature request. I'll implement these in the following version (after the dark mode branch is merged).

[2020-04-09 08:37] alexgrozav commented on #149
Done in #150 and released under version 1.22.1.

Thank you for the feature request!

[2020-04-09 08:37] #149 closed

[2020-04-15 14:38] #101 closed

[2020-04-19 11:02] alexgrozav commented on #98
Done in #152

[2020-04-19 11:02] #98 closed

[2020-04-19 11:02] alexgrozav commented on #99
Done in #152

[2020-04-19 11:02] #99 closed

[2020-04-26 21:19] Rsalyme opened #156 "Getting a compile error when using this library in nuxt as a universal app."
* **I'm submitting a:**
    - [x ] Bug Report

* **What is the current behavior?**
I'm getting a compile error when using this library in nuxt as a universal app.

* **What is the expected behavior?**

    If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar.

I am just using **nuxt** and **nuxt build*

[2020-04-26 22:30] alexgrozav commented on #156
Hi, it looks like you're missing the following babel plugin: https://babeljs.io/docs/en/babel-plugin-proposal-optional-chaining.

This is included in latest versions of nuxt, but since you're using `^1.4.0`, you'relikely don't have it.

[2020-04-27 01:17] Rsalyme commented on #156
@alexgrozav Yup that fixed it! I was using an older version of nuxt so I updated to 2.0.0. and that made it work. thanks.

[2020-04-27 06:32] alexgrozav commented on #156
Glad I could help. Enjoy!

[2020-04-27 06:32] #156 closed

[2020-05-10 13:16] NefixEstrada opened #157 "Module build failed (from ./node_modules/sass-loader/dist/cjs.js): SassError: compound selectors may no longer be extended"
* **I'm submitting a:**
    - [x] Bug Report
    - [ ] Feature Request

* **What is the current behavior?**
The modules fail to build due a SASS syntax error

* **What is the expected behavior?**
The modules should build

* **Please tell us about your environment:**
  - Version: 2.0.1
  - Browser: all
  - Language: all

* **Other information**

See [http://bit.ly/ExtendCompound](http://bit.ly/Exte

[2020-05-11 13:16] alexgrozav opened #158 "Add full width variant for button group component"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

* **What is the current behavior?**
IButtonGroup only has width based on child buttons.

* **What is the expected behavior?**
There should be a `stretch` or `full-width` modifier for the IButtonGroup component to set its child buttons to span full width equally.

We can use a combination of `display: flex; width: 100%;` on the

[2020-05-11 13:20] alexgrozav opened #159 "Icon requests"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

Here you can request what icons you find essential to web applications and should be included in Inkline.

[2020-05-11 13:20] alexgrozav commented on #159
For example, a refresh icon would be a great addition.

[2020-05-11 15:40] alexgrozav commented on #157
Hey!

This shouldn't happen on a clean installation. Can you give me some more details?

Which version of `node-sass` are you using? Also, can you list your `package.json` dependencies and devDependencies?

[2020-05-14 23:15] renielDev commented on #158
Opened PR for this. Check [Link](https://github.com/inkline/inkline/pull/160)

[2020-05-15 06:06] codebender828 commented on #125
Hey @alexgrozav ! Would like to take this on if possible! I recently updated Chakra UI Vue's version of Popper.js. Happy to help contribute with this. 🙏🏽

[2020-05-15 07:06] alexgrozav commented on #125
@codebender828 That would be amazing. Thank you!

Let me know if there's anything I can help with. I'm available on Inkline's Discord most of the time :).

[2020-05-15 07:21] codebender828 commented on #125
Cheers!

[2020-05-15 07:22] #158 closed

[2020-05-15 07:25] codebender828 commented on #125
How can I join the Discord? @alexgrozav 😄

[2020-05-15 08:14] alexgrozav commented on #125
https://discord.com/invite/2w5UGnK

[2020-05-15 08:23] alexgrozav opened #161 "Sidebar Collapsible tree navigation"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

* **What is the current behavior?**
The `i-collapsible` component has no special styling when inside a sidebar.

* **What is the expected behavior?**
There should be a component that provides a tree-like navigation. Perhaps exploring if the `i-collapsible` component supports nesting and styling it appropriately would be nice.

[2020-05-15 11:06] alexgrozav opened #162 "Add IToast component and notification service"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

* **What is the current behavior?**
We do not have a notification service. We should be able to generate a toast notification using `this.$inkline.notification(options)`.

* **What is the expected behavior?**
It would be worth exploring a vue-toasted integration https://www.npmjs.com/package/vue-toasted.

[2020-05-15 11:14] alexgrozav opened #163 "Add IModal dialog service"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

* **What is the current behavior?**
We do not have a dialog service. We should be able to generate a dialog modal using `this.$inkline.modal(options)`.

* **What is the expected behavior?**
- The modal should provide
- The modal should either:
   - provide `confirm` and `cancel` callback method props
   - return a promise to b

[2020-05-15 12:09] alexgrozav opened #164 "Form Validation serialize method"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

* **What is the current behavior?**
The form validation structure currently contains a lot of extra information.

Let's say our schema is:

[code]

Calling `this.$inkline.form(schema)` will create a structure like:

[code]

* **What is the expected behavior?**
There should be a `form.serialize()` method that maps each field fr

[2020-05-16 11:05] alexgrozav opened #165 "Add example pages"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

We need to add some example pages for homepage, dashboard, blog and ecommerce. These will be displayed in the `Introduction` section of the documentation, under `Examples`. Perhaps we should consider implementing them in an interactive coding environment.

[2020-05-19 09:25] alexgrozav opened #166 "Add links from homepage Data Tables and Form Validation sections to documentation"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

The Data Tables and Form Validation service boxes on the homepage should link to their respective documentation Introduction pages.

[2020-05-19 09:27] alexgrozav opened #167 "Add form validation example on Form Validation introduction page"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

We should add a form validation example on the Form Validation Introduction page. Therefore, when linking to it, the user sees an overview of how it works.

[2020-05-19 16:42] brunotourinho commented on #71
Hey guys! I really liked your framework, I've been working with Fomantic-UI (former Semantic-UI) and the two look really alike. In FUI they have a calendar module with great look and feel. [https://fomantic-ui.com/modules/calendar.html](https://fomantic-ui.com/modules/calendar.html) If you can somehow use as base it would be great.

[2020-05-20 08:58] alexgrozav commented on #167
Done in #168

[2020-05-20 08:58] #167 closed

[2020-05-26 09:37] Eternal-Rise opened #170 "Customization not working"
* **I'm submitting a:**
    - [x] Bug Report
    - [ ] Feature Request

* **What is the current behavior?**
Style variables fully ignored.

variables.scss
[code]

![img](https://i.ibb.co/7JTtmVZ/image.png)

* **What is the expected behavior?**
 I expect to have ability for customization

* **Please tell us about your environment:**
package.json
[code]

nuxt.config.ts
[code]

layouts/default.vue
[c

[2020-05-26 10:37] alexgrozav commented on #170
Hey! Please follow the configuration pattern specified in the docs. The `@nuxtjs/style-resources` package does not support inline configuration.

Use the `styleResources` configuration field instead:
[code]

[2020-05-26 10:45] alexgrozav commented on #157
Closing because issue creator did not respond for 2 weeks.

[2020-05-26 10:45] #157 closed

[2020-05-26 10:46] Eternal-Rise commented on #170
This caused import errors.

[code]

[2020-05-26 12:32] alexgrozav commented on #170
Thanks for the update!

What does your `./assets/styles/index.scss` look like?

[2020-05-26 13:46] Eternal-Rise commented on #170
index.scss
[code]

[2020-05-26 14:00] alexgrozav commented on #170
Ok I see. The `@import '@inkline/inkline/src/inkline.scss';` stylesheet is imported automatically by the `@inkline/nuxt` module, so you won't have to.

[2020-05-26 14:16] #170 closed

[2020-06-08 05:41] alexgrozav commented on #166
Done in #171.

[2020-06-10 02:01] garp360 opened #174 "Add an autocomplete component"
* **I'm submitting a:**
    - [ ] Bug Report
    - [x] Feature Request

* **What is the current behavior?**
Missing
* **What is the expected behavior?**
A component similar to a select box that will fetch matching data as the user enters text.  The user will then be able to select from the list or keep what is entered.  The component should be designed to match the theme of Inkline.

[2020-06-10 05:26] alexgrozav commented on #174
Hi! The `i-select` component has been designed in such a way that it will support adding autocomplete at some point. Therefore, you can be sure it's on it's way! :)

[2020-06-17 07:07] Eternal-Rise opened #176 "Form submit auto click first button"
* **I'm submitting a:**
    - [x] Bug Report
    - [ ] Feature Request

* **What is the current behavior?**
If form is invalid and user press "enter", the first ```<button>``` in the form is triggered "click".

* **What is the expected behavior?**
Prevent submitting

[2020-06-23 13:29] alexgrozav opened #179 "Handle inline form group with error"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    Create inline form group with label and input, then add validation.

* **What is the expected behavior?**
    The validation message should appear underneath the input and label.

* **What is the current behavior?**
    The validation message appears inline.

[2020-06-25 02:21] anonimusprogramus opened #180 "ReferenceError: options is not defined"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
   - install vue with vue-cli
   - install Inkline following [docs](https://inkline.io/docs/introduction/installation/vue-cli)
   - `npm install --save-dev style-resources-loader vue-cli-plugin-style-resources-loader`
   - error happened

* **What is the expected behavior?**

* **What is the current behavior?**
[code]

* **Plea

[2020-06-25 12:47] alexgrozav commented on #180
Hey! Checking it out now. Thanks for reporting this!

[2020-06-25 12:54] alexgrozav commented on #180
Found the issue. Should be up as version 2.2.2 in a few minutes.

[2020-06-25 13:27] alexgrozav commented on #180
Done! Please try again, it will work properly now.

Thank you for letting me know about this critical issue. Looks like automated integration tests only go so far..

[2020-06-25 13:27] #180 closed

[2020-06-25 13:28] alexgrozav commented on #176
Fixed in 2.2.2. Looks like it happened when I simplified the `i-form` and `schema` transmission. Thank you for reporting the issue!

[2020-06-25 13:28] #176 closed

[2020-06-29 12:51] alexgrozav commented on #102
Done by @Eternal-Rise in #183.

[2020-06-29 12:51] #102 closed

[2020-07-10 06:15] alexgrozav commented on #125
Done in #184. @codebender828 @Eternal-Rise Thank you both for the initiative!

[2020-07-10 06:15] #125 closed

[2020-07-10 09:14] Eternal-Rise opened #186 "Bad color experience"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    ![danger modal](https://i.ibb.co/rpq2hVN/image.png)
    ![default modal](https://i.ibb.co/ZHvPMVy/image.png)

* **What is the expected behavior?**
  Card background must be like page background

* **What is the current behavior?**
   Buttons background color is exactly as cards background color.

* **Please tell us about yo

[2020-07-10 12:23] alexgrozav commented on #186
You're referring to the modal component, right? Modal colors and most color variables will change in the new PR #185. I'll make sure to fix this one as well. Thank you! :)

[2020-07-22 13:14] alexgrozav commented on #186
Should be fixed in the new version (v2.3.0). Can you please confirm?

[2020-07-22 14:59] #186 closed

[2020-07-23 19:39] goknsh opened #192 "Select's options appear below collapsible and accordion"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    1. Create an accordion or collapsible.
    2. Create a select with lots and lots of options.

* **What is the expected behavior?**
    If collapsible: Select's options appear above the collapsible's title and contents (if two items are open)
    If accordion: Select's options appear above the accordion's title

* **What is

[2020-07-26 16:42] goknsh opened #193 "Sortable Icon appears over Fixed Column in DataTable"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    Create a Data Table with a fixed sortable column and multiple normal sortable columns till a overflow occurs (you should be able to scroll the columns). Now, if you scroll the view, the normal column's sortable icon appears above the fixed column.

* **What is the expected behavior?**
    The sortable icon is hidden below t

[2020-08-13 21:14] ArchaicMage opened #196 "Server compile errors with new 'universal' 'Static' (JAMStack) project"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem via https://plnkr.co or similar.

1. Create new nuxt.js project
`$ yarn create nuxt-app <project-name>`
![image](https://user-images.githubusercontent.com/12578432/90185050-179fed80-dd84-11ea-8acd-154d6d3bab

[2020-08-14 11:06] csindy commented on #196
I was able to get @inkline/nuxt client and server to compile successfully using @inkline/nuxt version 2.1.0. Server fails to compile on version 2.1.1 and above.

[2020-08-14 11:07] ArchaicMage commented on #196
I was able to get @inkline/nuxt client and server to compile successfully using @inkline/nuxt version 2.1.0. Server fails to compile on version 2.1.1 and above.

[2020-08-14 15:52] alexgrozav commented on #196
Hey! I'm looking into it. Thank you for reporting this.

[2020-08-14 17:58] alexgrozav commented on #196
This seems to happen only with Node >=13. When running with Node 12 it works properly.

I'll try to see if I can find a workaround. If not, I'll have to remove Optional Chaining altogether from the source code. :(

[2020-08-14 18:01] alexgrozav commented on #196
@Atinux, @pi0, do you have any idea?

[2020-08-18 20:45] galvez commented on #196
You need https://babeljs.io/docs/en/babel-plugin-proposal-pipeline-operator

[2020-08-22 09:57] VanishMax opened #197 "SSR support for Tabs component"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
Tabs component is missing SSR support. Too many contents can be lost and not indexed by search engines, therefore, killing SEO. And it definitely will cause a flash of content after hydrating the client.

* **Can you provide a basic example?**
It is not so difficult to implement. In the library's API, you just need to allow passing a

[2020-08-26 19:18] alexgrozav commented on #197
Hi @VanishMax ! I'm not sure I understand this correctly.

You're saying that
- the `i-tab` children should be hidden unless they have the `active` property
- the `i-tabs` should render some labels initially

Am I correct? You would need this only if there is a large amount of content inside of the tabs, though?

From what I know Google is executing JS before the indexing starts, so the actual con

[2020-08-26 19:34] VanishMax commented on #197
Hi @alexgrozav!

All I'm telling is that SSR support is important. Will just leave an article as a reference to not create spam in here.

I propose you to turn the JavaScipt off on the demo page of i-tabs. You will see, um, nothing. And this is just because the implementation of tabs relies so much on Mounted hook.

Many people would want to use Nuxt or their own SSR implementation. For such case,

[2020-08-27 06:10] alexgrozav commented on #197
I understand now. I'll work on improving this. Thank you for clearing things up!

Or if you find the time, a PR containing these changes would be more than welcome! :)

[2020-08-30 10:09] Eternal-Rise opened #199 "i-input-number don't work with validation"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    use ```i-input-number``` with ```:schema```

* **What is the expected behavior?**
   pretty validations like on default i-input

* **What is the current behavior?**
  Buttons increase / decrease don't work. After blur lost input

* **Please tell us about your environment:**
nuxt ^2.14.4
@inkline/nuxt ^2.3.0

[2020-08-30 10:23] Eternal-Rise opened #200 "i-input-number default controls"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
![img](https://i.ibb.co/BZyGWvj/image.png)
![img](https://i.postimg.cc/SsB4S6VK/image.png)
![img](https://i.postimg.cc/QxsLfxyv/image.png)

* **What is the expected behavior?**
  hide default controls
* **What is the current behavior?**
  default controls don't hidden. And, the main problem, step, min, max attrs is ignored for

[2020-08-30 10:32] Eternal-Rise opened #201 "input-checkbox-button fire form submit"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
use input-checkbox-button in form element

* **What is the expected behavior?**
add type="button" for preventing from submit

* **What is the current behavior?**
input-checkbox-button fire form submit

[2020-08-30 13:45] Eternal-Rise opened #202 "i-input-checkbox ignore custom validator"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
provide custom validator for checkbox group
```{ rule: 'custom', validator: v => v.length <= 4, message: 'Max 4' }```

* **What is the expected behavior?**
Expected to limit max selected checkboxes.
Maybe also disable other checkboxes?

* **What is the current behavior?**
nothing happens.

* **Please tell us about your environm

[2020-08-30 16:05] Eternal-Rise opened #203 "docs links wrong title"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
1. [https://inkline.io/docs/utilities/position](https://inkline.io/docs/utilities/position)
2. [https://inkline.io/docs/utilities/sizing](https://inkline.io/docs/utilities/sizing)
* **What is the expected behavior?**
  1. Title must be "Position"
  2. Title must be "Sizing"
* **What is the current behavior?**
  1. Title "Border

[2020-09-14 08:52] alexgrozav opened #204 "Add flex-shrink: 0 to sidebar wrapper"
* **I'm submitting a:**
    - [x] Bug Report

* **What is the expected behavior?**
The sidebar should not shrink if the layout-content is exceeding normal width. Add `flex-shrink: 0` to sidebar-wrapper to avoid this.

* **Please tell us about your environment:**
  - Version: latest
  - Browser: all
  - Language: all

[2020-09-15 12:05] kindlyfire commented on #157
Fails for me too. Extending compound selectors is deprecated: https://sass-lang.com/documentation/breaking-changes/extend-compound

Installing Inkline on new Vue project fails to compile due to this

[2020-09-17 14:42] alexgrozav commented on #157
This will require a rewrite of all of our CSS files. Meanwhile, I'm afraid you'll need to use an earlier SASS version. I'll leave this for v3.

[2020-09-20 08:00] alexgrozav opened #205 "Remove layout-header default padding"
* **I'm submitting a:**
    - [x] Bug Report

* **What is the expected behavior?**
Since the most common use case for the `<i-layout-header>` component is to have an `<i-navbar>` inside of it, we should remove the default padding.

* **What is the current behavior?**
The `<i-layout-header>` component has a default padding of `1rem`.

* **Please tell us about your environment:**
  - Version: latest

[2020-09-21 11:17] alexgrozav opened #206 "Set dropdown items as hoverable and selectable by default"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
We should set dropdown items as hoverable and selectable by default, and provide a `plain` or `text` modifier to disable the hover and focus actions.

* **Motivation**
When using the `i-dropdown-item` without a link, it's not hoverable.

[2020-09-24 17:18] TheJaredWilcurt opened #207 "Vue 3 support"
* **I'm submitting a:** Feature Request

[2020-09-25 06:57] alexgrozav commented on #207
It's definitely happening! At the moment I'm waiting for Nuxt@3 to be released in order to go ahead with upgrading both the library and documentation. There will be many improvements and many things rewritten.

As soon as the new version of nuxt is out, I'll start the migration process and of course, it would be awesome if you and others would be willing to contribute! :)

[2020-10-14 11:15] I-am-abdulazeez opened #211 "Toast"
* **I'm submitting a:**
    - [x] Feature Request

* **Toast request**
    A toast that can be called after some actions

* **[Something Like this](https://vue.chakra-ui.com/toast)**

[2020-10-16 17:38] marbocub opened #212 "docs example typo"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    *Custom Heading* section in https://inkline.io/docs/components/tabs#custom-heading

* **What is the expected behavior?**
[code]

* **What is the current behavior?**
[code]

[2020-10-16 19:36] marbocub opened #213 "Title slot for i-tab component"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
    Title slot for i-tab component.

* **Can you provide a basic example?**
[code]

* **Motivation**
    When including an icon in a tab title, it's simpler to use a slot than to use custom headings.

[2020-10-19 10:46] alexgrozav commented on #213
Hey! Because the tab headers are generated automatically inside the `<i-tabs>` component, you can provide have a custom header there.

I'll investigate how to provide a title slot via `i-tab`, but you can use the `i-tabs` `header` scoped slot as a workaround until I find a better way to do it.

[2020-10-26 17:22] #212 closed

[2020-10-26 17:25] alexgrozav commented on #213
Thank you for this! I've released 2.3.3 containing your changes.

[2020-10-26 17:25] #213 closed

[2020-12-07 11:44] scott-t opened #216 "Datatables per-cell slot customization"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
To allow per-cell customization of a datatable (eg, for the insertion of links, custom rendering) without requiring to either v-slot the entire row, or create a whole new component.

* **Can you provide a basic example?**
Possible implementation would be to have cell-specific slots that can be referenced by specific columns, names ei

[2021-01-06 14:20] alexgrozav commented on #207
I've created a draft pull request where you can track the progress being made on Inkline 3 https://github.com/inkline/inkline/pull/217. Feedback is most welcome! 😃

[2021-02-10 08:54] alexgrozav-visma commented on #207
Great news everyone! I'm back with an update:
- I'm successfully running a [Vite](https://github.com/vitejs/vite) development server and build workflow.
- We now have a components playground under `src/playground`
- Each component now has an `examples` folder containing examples as separate Vue components, which will be importable inside the documentation, but maintained inside the UI Library
- Co

[2021-02-10 08:58] alexgrozav commented on #207
Great news everyone! I'm back with an update:
- I'm successfully running a [Vite](https://github.com/vitejs/vite) development server and build workflow.
- We now have a components playground under `src/playground`
- Each component now has an `examples` folder containing examples as separate Vue components, which will be importable inside the documentation, but maintained inside the UI Library
- Co

[2021-03-02 09:33] Hextar opened #219 "Possible Sass error in IInput/css/_variants.scss file"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    The bug appear while using vuepress (1.8.2). Already tried to downgrade to sass-loader@10 as stated in [that commit](https://github.com/inkline/inkline/commit/c50032269c6bc506b3351315c26ea2c216f46e7e).

* **What is the expected behavior?**
  The project should work, also with no console errors

* **What is the current behav

[2021-03-05 18:52] alexgrozav commented on #219
Might be related to a previous issue. What sass-loader version are you using?

[2021-03-16 01:31] vonWolfehaus commented on #219
I created a new project with vue-cli and using nightwatch for e2e testing, but it calls out 33 sass-related errors when trying it. I tried installing sass-loader@10 but that did nothing (currently it's at 10.1.1) and node-sass v5.0

I'll print out the first error but the second error was what most of them comprise of.
[code]
[code]

[2021-03-28 16:08] alexgrozav commented on #219
It looks like there have been some changes in `node-sass` and `sass-loader`. To solve the issue, versions need to remain as follows:

[code]

Unfortunately migrating to the new version would require rewriting most of the stylesheet codebase because it relies on extending composed selectors. This will be fixed in `inkline@3`.

[2021-03-28 16:08] #219 closed

[2021-03-28 16:12] #206 closed

[2021-03-28 16:12] #205 closed

[2021-03-28 16:12] #204 closed

[2021-03-28 20:36] #196 closed

[2021-03-28 20:38] #139 closed

[2021-04-09 07:24] apolat2000 opened #221 "Typo in https://inkline.io/docs/forms/validation/schema"
**purpopses** was written, which should be **purposes** .

[2021-04-17 10:00] milaan-muc commented on #159
Is there a way to include Fontawesome? In the navbar example it looks like this is the case. How can this be done?

[code]

[2021-04-17 11:52] milaan-muc commented on #165
This would be awesome. I'm currently looking how to create a Single Page App using Inkline.
How, for example, could i make i-layout-content use all height of the page or i-layout-footer to stick to the bottom of the window?

[2021-04-20 09:50] alexgrozav commented on #165
Thanks for the feedback.

It's definitely possible to do. All you'd have to do is add some custom CSS to the `i-layout-footer` as follows:

[code]

[code]

[2021-04-20 09:51] alexgrozav commented on #159
I'm working on a way to make inkline's icon component universal, and allow users to import font-awesome icons dynamically.

[2021-04-25 17:49] milaan-muc opened #223 "Option to remove arrow on dropdown, popover and tooltip"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
    Please provide an option to hide the arrow on an dropdown, popover and tooltip.

* **Motivation**
    Cosmetic.

[2021-04-26 12:46] fbjorn opened #226 "Validate form on blur event"
Hi!

I can't find in the documentation a way to set the validation trigger to `blur` globally.
On [this page](https://inkline.io/docs/forms/validation/schema) you mention that I can set validation events per input:
[code]

By default validateOn is `input`. But is it possible to set `validateOn: "blur"` globally per form?

[2021-04-27 06:39] alexgrozav commented on #223
Hey, this should be already possible using the `arrow` prop. Try setting it to `false`:

[code]

[2021-04-27 06:42] alexgrozav commented on #226
Hi @fbjorn, at the moment you can only set the default validation event for all forms when initialising Inkline:

[code]

I will consider this feature for Inkline 3 however, which is bound to come out in approximately a month.

[2021-04-27 06:44] alexgrozav commented on #221
Done in #222 by @IDisposable.

[2021-04-27 06:44] #221 closed

[2021-04-28 13:19] securechicken opened #227 "Typo in IDatatable expand slot prop name"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
The root cause can clearly be read from a source file: https://github.com/inkline/inkline/blob/78d386a9f920a177a57fb3637db00fe1eccf7ab2/packages/inkline/src/components/IDatatable/template.html#L80

* **What is the expected behavior?**
The "expanded" prop of the "expand" slot in IDatatable component should probably be named ":ex

[2021-04-28 14:02] securechicken opened #228 "Make IDatatable row slot work with paginated IDatatable (possible bug)"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
When using the "row" slot of IDatatable component, the "index" prop that is passed to parent is relative to the current page if pagination is used, instead of being an absolute index based on the whole rows data. As this index is used on the IDatatable rows data to yield the current row as "row" prop in "row" slot, the "row" prop of

[2021-04-29 06:27] alexgrozav commented on #227
Hi @securechicken! Thank you for reporting the issue. :) I'll fix it up today.

[2021-04-29 06:28] alexgrozav commented on #228
Thank you for reporting this. It's a bug indeed. I'll try out your suggestions and see what I come up with.

[2021-04-29 10:59] securechicken commented on #228
Thanks considering this.
I'm not sure how this should be dealt with, I don't know JS much, and I'm new to Vue and Inkline, so might not be of great help.
I noticed that the issue does not seem to exist with the "expand" slot (meaning correct row might be passed to props there, whatever the pagination/filtering/sorting conditions), if that may help.

I could easily workaround the row slot issue whe

[2021-05-02 10:55] milaan-muc commented on #223
Perfect. Thank you.

[2021-05-15 11:58] milaan-muc opened #230 "Select Button"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
    A select menu where the selected item is actually a button which can be clicked. Or a button where you can change the action when clicking it.

* **Can you provide a basic example?**
Example from Zendesk Ticketsystem
![image](https://user-images.githubusercontent.com/3469112/118359682-e6f41b00-b584-11eb-909a-3bed84194a59.png)

*

[2021-05-16 01:46] milaan-muc commented on #223
Hmm for Select this option is not implemented, right?

[2021-05-16 06:55] alexgrozav commented on #230
@milaan-muc I've put together an example for achieving this with the currently available features.

https://jsfiddle.net/kwgdo2y1/2/

It's not perfect, but it'll work well. Let me know if you need more help with this. :)

[2021-05-16 12:10] milaan-muc opened #231 "onChange Event not working with Select"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    When using `<i-select @change="function"> ` the linked function is not fired upon change event. If using a default select menu, it is working.

[2021-05-16 13:27] #230 closed

[2021-05-16 20:15] calebeaires opened #232 "Missing ICheckbox export at version 3.0.0-beta.1"
* **I'm submitting a:**
    - [x] Bug Report

Missing ICheckbox export

[code]

[2021-05-16 21:02] calebeaires opened #233 "Make use of defaultOptions to set default components sizes"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
   Make use of defaultOptions to set default size

* **Can you provide a basic example?**

At setup:

[code]

Usage at components
[code]

* **Motivation**
    In many cases our project follows some defaults to all components. Ex.: button and inputs with size 'sm'. It will be useful to have this set at the setup.

[2021-05-17 11:58] alexgrozav commented on #233
Great suggestion! I'll see how I can implement this.

[2021-05-18 08:01] alexgrozav commented on #231
You'll need to use the `@input` instead, since it's configured to work with `v-model`. Can you try and let me know if it works?

[2021-05-18 17:28] milaan-muc commented on #231
Working. Thank you.

[2021-05-18 17:28] #231 closed

[2021-05-27 13:28] julianalmandos commented on #203
@alexgrozav @Eternal-Rise I think this has already been solved. I reproduced the steps and everything seems to be working fine!

[2021-05-28 05:16] alexgrozav commented on #203
Thank you @julianalmandos for looking into it and @Eternal-Rise for reporting the issue!

[2021-05-28 05:16] #203 closed

[2021-05-31 11:37] calebeaires opened #237 "Dropbox component not working with IDropdownItem"
1. Vite: 2.0
2. Vue: 3.0.5
3.  Inkline: 3.0.0-beta.5

* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**

index.html

[code]
App.vue

[code]

Result

![image](https://user-images.githubusercontent.com/794195/120186863-7424aa00-c1ea-11eb-8ab9-527d3638af23.png)

Dropbox, tabs and select components has issues with css. Is the setup wrong?

[2021-05-31 19:47] alexgrozav commented on #207
**Inkline 3.0.0-beta.5** is out! It's currently in a very good shape.
- All components have been rewritten and improved
- All components have automatically-generated manifest files describing their internals
- Form validation completely rewritten for better efficiency and reactivity
- Most components have updated documentation (work in progress)
- Select component rewritten to support autocomplete

[2021-05-31 20:38] alexgrozav commented on #237
Hey! The dropdown component now has a new simplified syntax. To access the new docs (currently in progress), try running an inkline 3 clone locally using `npm run dev`.

[code]

[2021-06-01 12:03] calebeaires commented on #237
Did it. Now I see! 👍

[2021-06-01 12:03] #237 closed

[2021-06-01 12:46] kfern commented on #207
@alexgrozav. I can help with testing

[2021-06-01 19:26] alexgrozav commented on #207
@kfern That would be amazing!

The documentation for the new version is still work in progress and only available locally. To get it up and running:
- `git clone https://github.com/inkline/inkline.git`
- `npm install`, if you run into issues check https://github.com/vitejs/vite/issues/2433#issuecomment-792914871
- `npm run dev`

The installation / integration steps for the beta version can be foun

[2021-06-01 19:53] kfern commented on #207
@alexgrozav. I can't run the tests. Jest is not included in the dev dependencies and the test folder is missing.

How can I start with tests?

[2021-06-01 19:57] alexgrozav commented on #207
@kfern I have to finish migrating/refactoring the tests from the old repository. It's still work in progress.

[2021-06-01 20:02] kfern commented on #207
@alexgrozav Can I do something while?

[2021-06-01 20:33] alexgrozav commented on #207
At this point, the greatest help would be manual testing. Checking that things are behaving correctly after the major refactoring that I've been doing.

The second thing would be trying out / working with the new CSS variables design system. Would love some feedback on that!

[2021-06-04 08:01] bobmcallan commented on #207
I'd really like to help with the Datatable component rewrite.. I'm migrating from a Bulma/Buefy app to Vue 3/Vite/Inkline. I like your layout and there are few (really) component good libs which are as  clean and easy to use as yours.

[2021-06-04 10:40] bobmcallan opened #238 "Vue 3 / Vite - No Colors ?"
I've installed as per instructions,. however no colors are showing.

`
import '@inkline/inkline/src/inkline.scss';

import { Inkline } from '@inkline/inkline/src';

import * as components from '@inkline/inkline/src/components';

import * as icons from '@inkline/icons/packs/inkline';
`

![image](https://user-images.githubusercontent.com/8773580/120789371-e2fc5d00-c574-11eb-8536-523d704c7377.png)

T

[2021-06-04 10:47] bobmcallan commented on #238
I should have read all (!) the Vue 3 thread..  Swapping 'variant' to 'color' does the trick!

[2021-06-04 10:47] #238 closed

[2021-06-06 14:51] alexgrozav commented on #238
@bobmcallan I thought it makes more sense to use `color` from a Developer Experience point of view. How do you feel about it?

[2021-06-07 19:50] calebeaires opened #239 "Input Props modelValue has String type, but can be Number too"
Version: 3.0.0-beta.6

* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
 Use **number** type at input component instead of the default **text**
[code]

* **What is the expected behavior?**
Props should be set with multiple Vue types.

* **What is the current behavior?**
Vue 3 shows a warning message of wrong type to **modelValue**.

Change this
[code]

To
[code]

![CleanShot

[2021-06-14 20:07] calebeaires opened #240 "Feature Request: Make i-select value/v-model as simple as possible at V3"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
Version 3 offers a type of "select" where the defined value is an object. This context is excellent, however, it is necessary in many cases that in a simple action the option value attribute is the one that is selected. As it stands today, we have to build a much larger code than usual to apply to our context.

* **Can you provide a

[2021-06-17 15:23] alexgrozav commented on #240
I've released a fix that provides backwards-compatible behaviour in `3.0.0-beta.7`. Cheers! :)

[2021-06-17 16:39] #240 closed

[2021-06-24 19:18] #232 closed

[2021-07-25 09:22] alexgrozav commented on #233
Done in `3.0.0-beta.8`. You can now set default size and color for all components or individual components using the following options:

[code]

[2021-07-25 09:24] alexgrozav commented on #239
Now accepting `Number` type to inputs in version `3.0.0-beta.8`.

[2021-07-25 09:24] #239 closed

[2021-07-26 05:03] alexgrozav commented on #126
This is currently possible using the `@inkline/inkline@next` version, together with the new `@inkline/icons` package.

[2021-07-26 05:03] #126 closed

[2021-07-26 05:04] alexgrozav commented on #159
This is currently possible using the `@inkline/inkline@next` version, together with the new `@inkline/icons` package.

[2021-07-26 05:04] #159 closed

[2021-07-26 05:04] alexgrozav commented on #161
Done in `@inkline/inkline@next`.

[2021-07-26 05:04] #161 closed

[2021-07-26 05:05] #165 closed

[2021-07-26 11:12] calebeaires commented on #233
This is good! Thank you so much!

[2021-07-26 20:03] alexgrozav commented on #233
Thank you for the suggestion. Enjoy! :)

[2021-07-26 20:03] #233 closed

[2021-09-02 21:47] nickname32 commented on #71
Hi, I really liked this Inkline's design, but it missing some useful components, like date/time picker. I'm not good at such development, so I really want you to add more useeful components. Hope you have energy for that, adding more useful components can make Inkline very popular.

[2021-09-03 09:49] alexgrozav commented on #71
Hey @nickname32! Thank you so much for your feedback.

I'm definitely adding a datepicker component, but first I need to get through with the v3 release. I really feel like Inkline will gain popularity after that. Hope you'll give it a try! :)

[2021-09-07 08:27] alexgrozav commented on #207
@bobmcallan Thank you so much for the awesome feedback! The datatable won't be a part of the initial release, but as soon as I start development on it, I'll create tasks that you'll be able to help with. :)

[2021-10-04 06:25] sotaan opened #243 "Allow async sort for DataTables"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
    If data came from a big dataset and is paginated (+filtered) having an async sort make sense.

* **Can you provide a basic example?**
    I guess DataTable component should emit `update` event with a `sort` property (same as pagination and filtering)
    sort can be something like this:
  ``` { column: "my_column_key", ascending:

[2021-10-31 11:56] masihtak opened #244 "The requested module does not provide an export named 'default'"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
    Install the beta version:
    `npm install @inkline/inkline@next`
[code]

* **What is the expected behavior?**
Compiled the script without any error

* **What is the current behavior?**
 Vite: `main.js:3 Uncaught SyntaxError: The requested module '/node_modules/.vite/@inkline_inkline.js?v=ca9b4314' does not provide an expor

[2021-10-31 14:01] #244 closed

[2021-11-02 11:19] alexgrozav opened #247 "Storybook migration"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
We're migrating the current setup to Storybook in this PR: https://github.com/inkline/inkline/pull/246

* **Motivation**
The documentation files for Inkline lived inside the `inkline/inkline` repository, as a components playground with a basic vite setup. This made it hard to keep the documentation up to date inside of the `inkline/i

[2021-11-06 06:56] alexgrozav opened #248 "Add Column component properties to Storybook story"
* **I'm submitting a:**
    - [x] Feature Request

* **Summary**
    The column component has properties computed using a `properties` object, and storybook cannot pick up the properties automatically.

We need to either import that object and use it to show its properties, or write the properties manually.

[2021-11-09 18:55] #247 closed

[2021-12-11 21:03] Eternal-Rise commented on #197
@alexgrozav , looks like it's already done?

[2021-12-12 08:45] alexgrozav commented on #197
Yup, this is done in Inkline 3. Thank you for the heads up @Eternal-Rise! :)

[2021-12-12 08:45] #197 closed

[2021-12-12 11:22] Himra opened #252 "Autocomplete"
Hello all,

I am looking for an autocomplete field for my form.
I searched the documentation for it but couldn't find anything.
Is there a solution, or is something planned for this?

Thanks and greetings
Himra

[2021-12-12 15:33] alexgrozav commented on #252
Hi Himra,

There is a fully functional select component with autocomplete in the `3.0.0-beta.44` beta version. The full release together with the documentation will come in a few days.

If you want to use the version 3 beta, there's a Storybook temporarily published [here](https://inkline-storybook-fcrak.ondigitalocean.app/storybook). The documentation for the select can be found here for now: htt

[2021-12-15 08:34] Himra commented on #252
Thank you for the quick answer and the great project
Himra

[2021-12-15 08:34] #252 closed

[2022-01-18 18:38] milaan-muc opened #254 "Nuxt.js Installation Guide not working"
Hi,

i have tried to install inkline with your new installation guide but its not working. At the end you talk about editing files in src folder which is not existing. It looks like you just copied over the guide from vue?!?!

[2022-01-18 19:27] alexgrozav commented on #254
Hey! Thank you for letting me know. I'm looking into it!

[2022-01-19 10:40] milaan-muc commented on #254
How should i install with Nuxt correctly?

I have tried the following in nuxt.config.ts:

[code]

But that throws an error:

[code]

[2022-01-19 13:02] alexgrozav commented on #254
Nuxt 3 has an entirely different module definition markup. I'm almost done with the update. Should be up in a couple of hours! :)

[2022-01-19 16:22] alexgrozav commented on #254
@milaan-muc I've released a new version of `@inkline/nuxt` that's compatible with Nuxt 3. Can you please try it out and let me know if you encounter any issues?

https://inkline.io/docs/introduction/installation/nuxt

[2022-01-19 16:37] milaan-muc commented on #254
Thank you but it's not working...

[code]

[2022-01-19 17:33] alexgrozav commented on #254
Can you copy your **package.json** contents here?

[2022-01-20 09:15] milaan-muc commented on #254
Sure...

[code]

[2022-01-20 09:20] alexgrozav commented on #254
It looks like `@inkline/nuxt` isn't listed as a dependency. Did you `npm install --save @inkline/nuxt`?

[2022-01-20 09:44] milaan-muc commented on #254
I did `npm install --save @inkline/inkline` as shown in your nuxt docu.

![image](https://user-images.githubusercontent.com/3469112/150313765-2f304a07-bf96-4990-926d-2809883e6127.png)

[2022-01-20 10:20] alexgrozav commented on #254
So sorry, I didn't realize I missed the `@inkline/nuxt` part from the docs. The command should be

[code]

[2022-01-20 11:13] milaan-muc commented on #254
That did it :-) Thank you!

[2022-01-20 11:20] alexgrozav commented on #254
Awesome! Let me know if you run into any issues. :)

[2022-01-20 11:20] #254 closed

[2022-01-20 12:40] milaan-muc opened #255 "Failed to resolve component: i-layout-content"
I'm getting component errors when using components which are to be used as nested components.

For example in my index.vue Pages file this is working:

[code]

This is not working:

[code]
It throws the following error:

[code]

[2022-01-20 14:24] alexgrozav commented on #255
Hey! Great find, I forgot that prefixing is now the default option. I've released `@inkline/nuxt@3.0.2` to address this issue.

[2022-01-20 14:27] alexgrozav commented on #255
@all-contributors please add @milaan-muc for test

[2022-01-20 14:35] #45 closed

[2022-01-20 15:02] milaan-muc commented on #255
Working. Thank you!

[2022-01-20 15:10] #255 closed

[2022-01-20 15:53] #105 closed

[2022-01-20 15:53] #117 closed

[2022-01-20 18:34] agarbutt opened #257 "Creating Vue App with Vue CLI results in `module parse fail`"
* **I'm submitting a:**
    - [x] Bug Report

* **Steps to reproduce**
Here is a minimal repository (and ordered commits) showing the steps that I took.

https://github.com/agarbutt/vue-cli-ts-inkline

1. follow the "Vue CLI Getting started instructions"
2. `npm run serve`

* **What is the expected behavior?**
I believe we expect to have a running Vue app.

* **What is the current behavior?**
Mult

[2022-01-21 06:28] alexgrozav commented on #257
Hi @agarbutt, thank you for reporting this! I'm looking into it and will provide an update today.

[2022-01-21 12:19] #140 closed

[2022-01-21 12:21] alexgrozav commented on #174
We now have a beautifully working autocomplete component in **Inkline 3**. Cheers!

[2022-01-21 12:21] #174 closed

[2022-01-21 12:23] #199 closed

[2022-01-21 12:23] alexgrozav commented on #199
If you have the time, please confirm that this is fixed in Inkline 3.

[2022-01-24 16:00] alexgrozav commented on #207
🚀 Inkline 3 (https://inkline.io) is now officially released!

Thank you everyone for your support and patience. ❤️

[2022-01-24 16:00] #207 closed

[2022-01-24 16:01] alexgrozav commented on #257
Hey @agarbutt, I've updated the [Vue.js 3 CLI installation guide](https://inkline.io/docs/introduction/installation/vue-cli). Thank you for your patience and for reporting the issue!

[2022-01-24 16:02] alexgrozav commented on #257
@all-contributors please add @agarbutt for bug.

[2022-01-24 16:02] #257 closed

[2022-01-25 17:31] agarbutt commented on #257
@alexgrozav I have tried the CLI instructions and I am getting a similar (if not the same) error.

I have updated the git repository mentioned above with the changes introduced from following the CLI instructions.

https://github.com/agarbutt/vue-cli-ts-inkline

Running `npm run serve` which is a proxy for `vue-cli-service serve`, I get errors when "loading" the following components.

- IDropdownI

[2022-01-26 08:55] alexgrozav commented on #257
@agarbutt Didn't realize that the typescript Vue CLI setup doesn't install babel at all. I solved this by installing babel:

[code]

I'll add this to the docs.

[2022-01-27 04:01] agarbutt commented on #257
@alexgrozav , you found the final step. nice job!

Looks like I have some things to read up on why Vue made some of the choices about Babel and Typescript.
Its confusing to me to have both compilers, and I am not totally aware of why one would choose one, the other, or both to be leveraged within a project.

Thanks for your help.  I am enjoying inkline quite a bit. Perhaps I can start to offer som

[2022-01-28 16:18] tudorels commented on #207
- Hello, I can't find DataTable in Inkline 3? You gave up rewriting it?
- Thank you!

[2022-01-28 21:42] alexgrozav opened #262 "Datatable rewrite"
* **Summary**
Write a better, more customizable Datatable for Inkline 3.

[2022-01-28 21:44] alexgrozav commented on #207
Hi @tudorels. I'm planning to do a full rewrite of the Datatable component instead of migrating it. I've created a task to track progress here: https://github.com/inkline/inkline/issues/262

[2022-02-02 08:28] rubjo commented on #262
This looks like a good framework - but this case is closed, and the [Datatable](https://inkline.io/docs/components/datatable) docs page is blank...?

[2022-02-04 07:13] alexgrozav commented on #262
Hey @rubjo! The Datatable component for Inkline 3 is still work in progress. I'm rewriting it completely to make it much more configurable. :)

The old documentation for Inkline 2 can be found here: https://v2.inkline.io/docs/components/datatable/introduction

[2022-02-05 09:56] alexgrozav opened #265 "Autocomplete Multi-select"
* **Summary**
  Would like the ability to select multiple options when working with the `i-select` component.

* **Can you provide a basic example?**
  The `modelValue` property should be an array when using the `multiple` property.

[code]

  Selected values should be displayed as tags inside the select. Each tag should be removable. Tag display values will be handled the same way that label disp

[2022-02-15 17:18] masihtak opened #266 "Not using the semantic tag for the navigation (Accessibility issue)"
* **What is the expected and current behavior?**
  Semantic HTML5 `nav` tag is expected.
  The current behavior is just a `div` tag with the class of `navbar`

* **Steps to reproduce**
  `<i-navbar></i-navbar>`

* **Please tell us about your environment:**
    - Version: >=3.0.0
    - Browser: Chrome 98
    - Language: JavaScript

* **Other information**
  For the navigation currently, we have a n

[2022-02-16 10:24] alexgrozav commented on #266
Hey @masihtak, thank you for the great suggestion! Do you have the time to create a PR with the changes?

[2022-02-16 13:16] masihtak commented on #266
Yes, please assign me to this issue.

[2022-02-18 00:13] nlvedwin opened #267 "Dropdown Hover can't click the item inside the container"
<img width="687" alt="image" src="https://user-images.githubusercontent.com/78135357/154593154-00c8afa2-d1d9-46fe-b8bf-36bcbcdfb4c9.png">

[2022-02-20 14:21] masihtak commented on #162
I'd like to work on this feature 😀

[2022-02-20 14:48] masihtak opened #269 "Transparent Navbar"
* **Summary**
  Add a prop to make the navbar transparent

* **Can you provide a basic example?**
  `<i-navbar transparent>
  `

* **Motivation**
  The navbar and hero section of many designs are the same color.  (navbar is transparent)

[2022-02-21 11:39] alexgrozav commented on #162
That would be awesome, @masihtak! 😃

[2022-02-21 11:42] alexgrozav commented on #267
Thank you @nlvedwin for reporting this. I'm on it!

[2022-02-21 11:43] PeteJStewart opened #270 "Export Storybook for use in project"
* **Summary**
As most developers are using storybook in the project for building their design system, it would be great if there was an easy way to user the Inkline storybook as a template.  Then most of the setup for storybook work be done, and the developers could just work on creating page stories.

* **Can you provide a basic example?**
 It would be great if there was a command to publish the

[2022-02-21 11:48] alexgrozav commented on #211
Closing as duplicate of https://github.com/inkline/inkline/issues/162.

The Chakra UI example looks like a good starting point. I'd say we should use a custom implementation since `breadstick` relies on `animejs`. The animations can be easily handled using CSS transitions.

@masihtak will start working on it.

[2022-02-21 11:48] #211 closed

[2022-02-24 05:30] #266 closed

[2022-03-04 00:28] Extarys opened #272 "Condensed table have same spacing as regular table [Firefox]"
* **What is the expected and current behavior?**
I expect the condensed table to fit more data on smaller screen. ie: margin/padding and text is smaller.

Right now there is no difference.

* **Steps to reproduce**
[  If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.]

https://stackblitz.com/edit/inkline-d84znh?file=src/App.vue

[2022-03-04 17:59] alexgrozav commented on #272
HI @Extarys, thank you for reporting this. I'll take some time to fix it over the weekend! :)

[2022-03-16 17:40] aileen-r opened #273 "Cannot get form errors to display when submitting an empty form"
**What is the expected and current behavior?**
I would expect that if a user were to submit an empty and untouched form, validation error messages would appear to explain why the form did not submit.

I would expect to be able to set all form fields to touched on submit to trigger validation with Inkline. However, the "submit" event from IForm does not get emitted if validation fails so I cannot h

[2022-04-01 18:37] fmedinar opened #276 "Core Layout for content and right aside is not responsive on mobile"
**What is the expected and current behavior?**
The behavior por core-layout is not responsive on mobile for content and left or right aside. The other components are distorted.

* **Steps to reproduce**
Copy and paste layout with header, content, right aside componentes and simulate mobile access in the explorer.

* **Please tell us about your environment:**
    - Version: >=3.0.0
    - Browser: a

[2022-04-11 18:38] madsh93 opened #277 "Inkline with TailwindCSS"
Hi!

I am a user of TailwindCSS and I have currently setup most of my UI using Tailwindcss. However, some parts of my code seem silly to use Tailwind for and not something like Inkline.

An example of my current code for a button is:
[code]

With inkline, this looks like this:
[code]

On top of this, Inkline adds a bunch of functionality such as a loading spinner.

I thought, why not use both? Tai

[2022-04-19 09:51] jb3rndt opened #278 "Unit testing components with cypress"
* **What is the expected and current behavior?**
  I want to unit test components that use Inkline components. In the interactive browser test runner of cypress, my custom component should look like a normal Inkline button as it does in the web app. Instead, the button is unstyled. How can I get cypress to recognize the scss styles of Inkline?

Additionally, Inkline has to be registered as a plugi

[2022-04-19 11:47] alexgrozav commented on #278
Hey @jb3rndt, instead of importing your scss (i.e. `inkline.scss`) in every component, you should import them globally in your `main.ts` file. Otherwise, the scss will get recompiled every time this component changes and it will add up to a lot of build time.

Next, to import them to cypress globally, add them to `./cypress/support/index.ts`.

Unforunately, Inkline still needs to be registered as

[2022-04-20 21:25] jb3rndt commented on #278
Sadly I did not find much help there. I can verify that custom scss is loaded, but the scss imported from the inkline module is not. Might be an issue on the cypress side, I don't know.

But I found another issue.
Here is a basic sfc using `i-modal`:
`MyModal.vue`
[code]
`MyModal.spec.ts`
[code]

As it turns out, only the "Modal content" is rendered in the cypress view. Do you know why that happen

[2022-04-21 03:45] tasiotas opened #280 "Treeshaking on Nuxt3"
Hi,

I followed instructions to install Inkline on Nuxt3.

Seems like treeshaking isn't working. All components are included both in dev and build.

I started Discussion thread about it, but later realized its more of an Issue.
Thank you

[2022-04-21 08:24] alexgrozav commented on #280
Hi @tasiotas, the code behind the `nuxt-module-inkline` is pretty standard and has been reviewed by @pi0 from the nuxt team as well. Perhaps he can shed some light on what's happening? Is this caused by the `global: true` setting?

https://github.com/inkline/nuxt-module-inkline/blob/main/src/module.ts

[2022-04-22 20:35] tripplicate commented on #277
HI !
Did you find answer ?

[2022-04-23 07:39] alexgrozav commented on #277
Hey! I'll look into this today and provide an example. :) Cheers!

[2022-04-23 13:50] alexgrozav commented on #277
Alright guys, so to use Inkline together with TailwindCSS you'll need to keep two separate stylesheets. One `inkline.scss` and one `tailwind.css`, which you both import in your `main.js` file.

Here's how they look like in my setup:

**main.js**
[code]

**inkline.scss**
[code]

**tailwind.css**
[code]

That's it! Let me know if this works for you. If not, we can dive deeper into the specific issue

[2022-04-25 07:22] R0N1n-dev opened #281 "createPopper issue"
* **What is the expected and current behavior?**
  Added Inkline 3 to vue cli project with Vue 3.
On "npm run serve", should run the dev server .
But instead give this error  and dev server wont start

 "ERROR  Failed to compile with 1 error                                 10:01:21 AM

 error  in ./node_modules/@inkline/inkline/mixins/PopupMixin.mjs

Can't import the named export 'createPopper' fr

[2022-04-26 05:49] alexgrozav commented on #281
Hey! I just created a new project using Vue CLI 5 and I'm not having the issue. Do you have something else installed that requires a different popper.js version that might be interfering?

Could you try to clean up your dependencies and reinstall, then run again?

[code]

[2022-04-26 14:36] tripplicate commented on #277
Hi @alexgrozav, I want to use Inkline + Nuxt 3 with tailwind.

Example below **doesn`t work:**. What do you think ?

#### assets/styles/vendor/inkline.scss
[code]

#### assets/styles/vendor/tailwind.css
[code]

#### assets/styles/style.scss
[code]

#### nuxt.config.ts
[code]

#### inkline-plugin.ts
[code]

After `npm run dev` I see in konsole:

TypeError [ERR_UNKNOWN_FILE_EXTENSION]: Unknown file

[2022-04-28 14:43] tripplicate opened #282 "Inkline options aren`t work with Nuxt 3"
* **What is the expected and current behavior?**

  **Exprected**: After specifying the options in the settings, the components should become smaller and the dark theme shoud be disabled

  **Current**: Components have medium size and the dark theme is on when we set prefers-color-scheme.

#### nuxt.config.ts
[code]

* **Steps to reproduce**

1.   Initialize project
2.  Configure inkline options i

[2022-04-28 18:52] tripplicate commented on #282
Hey @alexgrozav, this **solution works**

[code]

[2022-04-29 12:15] #282 closed

[2022-04-30 12:55] Eternal-Rise commented on #200
Fixed

[2022-04-30 12:55] #200 closed

[2022-05-02 04:17] verygoodsoftwarenotvirus opened #284 "NPM install fails on subsequent attempts"
* **What is the expected and current behavior?**
I should be able to clone the repository and run `npm install` as many times as possible while ending up with a usable repository.

* **Steps to reproduce**
- clone this repository and cd into its directory
- run `npm install`
- run something like `npm run test` to ensure everything works
- `rm -rf node_modules`
- `npm install`
    - observe failure

[2022-05-02 07:33] mtancoigne opened #285 "Clicking on the arrow in a "select" component does nothing"
* **What is the expected and current behavior?**
  On a "select" component, I expect the dropdown list to show when I click on the little arrow of the component

* **Steps to reproduce**
  1. Visit https://inkline.io/docs/forms/select
  2. Click on the arrow on the demo "select"
  3. Nothing happens

* **Please tell us about your environment:**
    - Version: v3.0.8, at least
    - Browser: Firefo

[2022-05-02 13:01] Tragio commented on #280
@alexgrozav this seems related to this https://github.com/oruga-ui/oruga/issues/298

[2022-05-04 07:43] iBelg opened #286 "Missing requirement for autoprefixer (or similar)"
* **What is the expected and current behavior?**

### My setup
- Vite
- Vue 3
- Inkline

### Current
Inkline uses some css properties that require vendor prefixing to work in every browser (e.g. [mask-image](https://developer.mozilla.org/en-US/docs/Web/CSS/mask-image)), without these vendor prefixes not everything works as expected.

### Expected
Inkline at least mentions that some build steps mig

[2022-05-18 12:50] alexgrozav commented on #286
Hey! We have a guide for it inside the Guides section. I'll look into how to inject the postcss preset during installation (at least for Nuxt).

https://www.inkline.io/docs/introduction/guides/postcss

[2022-05-23 11:30] intjelic opened #287 "Usage of form validation with field types other than `<i-input>` and `<i-textarea>`"
I used form validation successfully in my previous forms, but now I'm working with a form that has more than `<i-input>` and `<i-textarea>` field types.

I can get my `<i-select>` field type to work in my form, but as soon as I had the `v-model` to `<i-form>` (to add validation of text fields), the `<i-select>` no longer works.

Is this scenario supported ? How am I supposed to implement this ?

[2022-05-24 06:12] alexgrozav commented on #287
Hi @intjelic, it's likely a bug. Can you share your validation schema and markup so I can test it out properly? Thank you! :)

[2022-06-02 04:30] tasiotas commented on #280
Can I override it somehow?

Is anyone able to use Inkline with Nuxt?

[2022-06-03 23:04] tasiotas commented on #280
sorry about closing/opening, it was mistake

I commented ```global: true``` in node_modules folder, and it worked fine. Now I only get necessary css files.

[2022-06-05 11:43] scott-t commented on #285
It goes one step further for me. I've got the button causing my form to be submitted. I assume something to do with being rendered as a <button>.

[2022-06-06 13:02] scott-t commented on #285
Playing around to fix my issue with the form being submitted, it seems likely https://github.com/inkline/inkline/blob/9deb0598c067ed74fbb957c77d613bf8238cec78/src/components/ISelect/template.html#L43 needs to be @click.prevent rather than simply @click. Not sure if that'll fix the non-functional dropdown entirely or not though.

[2022-06-07 06:30] mtancoigne commented on #285
and `role="button"` too...

[2022-06-08 05:22] alexgrozav commented on #285
Fixed in #289. Thank you for reporting the issue! :)

[2022-06-08 05:22] #285 closed

[2022-06-08 05:25] alexgrozav commented on #281
Closing until further feedback.

[2022-06-08 05:25] #281 closed

[2022-06-08 05:53] alexgrozav commented on #280
Thanks a lot for the update! I've disabled `global` option in the new 3.1.1 release.

[2022-06-08 05:53] #280 closed

[2022-06-08 05:53] #106 closed

[2022-06-08 06:33] Himra commented on #262
Have Inkline tested and so far everything is perfect for me. Unfortunately, I am missing the data table.
Is it foreseeable when this will be available.
Thanks for the great work
Many greetings
Himra

[2022-06-11 15:56] vinksz commented on #277
export default defineNuxtPlugin(ctx => {
  ctx.vueApp.use(Inkline, { components });
});

^

export default defineNuxtPlugin((NuxtApp) => {
  NuxtApp.vueApp.use(Inkline, { components });
});

https://v3.nuxtjs.org/guide/going-further/internals#the-nuxtapp-interface

[2022-06-16 15:32] jamaluddinrumi opened #292 "NavBar not showed up on >medium display, but showed up on small display"
* **What is the expected and current behavior?**
NavBar not showed up on >medium display, but showed up on small display

you can check it out https://jamal.indomascot.com

* **Steps to reproduce**
https://github.com/jamaluddinrumi/jamal.indomascot.com.v3

* **Please tell us about your environment:**
------------------------------
- Operating System: `Darwin`
- Node Version:     `v16.15.1`
- Nuxt

[2022-06-21 23:15] tasiotas opened #293 "dark mode in Nuxt3"
* **What is the expected and current behavior?**
  Initial class assignment for color modes is wrong when page loads. Once I toggle between dark/light modes, classes are set correctly.

* **Steps to reproduce**
  Open minimal starter in StackBlitz. Take a look at "invisible" labels on checkbox and toggle.
  https://stackblitz.com/edit/nuxt-starter-7vdjmd?file=app.vue

  Please set your preferred b

[2022-06-23 06:26] michael-aranea commented on #287
I have the same issue with nuxt3, here is my sample coding:
**Template:**
<i-form v-model="form">
    <i-form-group>
      <i-form-label>{{ $t("gender") }}</i-form-label>
        <i-select
            name="gender"
            :options="genders"
        />
      <i-form-error for="gender" :visible="['invalid']" />
    </i-form-group>
  </i-form>

**Script:**
<script setup lang="ts">
const schema =

[2022-06-23 18:56] tasiotas opened #296 "click-outside - mouseup vs mousedown"
Currently click-outside Directive is firing on `mouseup` event. That is causing some unexpected behavior in Modal.
When I drag-select input field in modal, and release mouse button outside the modal, it closes.

Perhaps you could consider switching to 'mousedown' event?

Thank you

[2022-06-28 02:47] tasiotas opened #297 "i-icon - Failed to resolve component: icon"
When I try to use i-icon component,

[code]
I get this error:
[code]

All other components work fine, does icon needs special config?

repro:
https://stackblitz.com/edit/nuxt-starter-sivhwx?file=app.vue

[2022-06-28 05:39] alexgrozav commented on #297
The icon component renders using a render function and should still render even with that error. I need to remove the template from the vue file.

It's a bug, thanks a lot for letting me know!

[2022-06-30 21:10] Duchynko commented on #292
Facing the same issue using
- `nuxt: "3.0.0-rc.4"`
- `node: "v16.15.1"`

[2022-07-01 07:33] alexgrozav commented on #292
Thank you for reporting. Looking into it.

[2022-07-06 19:17] joewelds opened #298 "Sizing of iButtonGroup doesn't work"
* **What is the expected and current behavior?**
Actual behavior:  Buttons in the button group are medium sized
Expected behavior: Buttons adjust size when the size="sm" is set on the iButtonGroup element

* **Steps to reproduce**
If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.
[See that buttons are not different sizes in the S

[2022-07-12 08:33] joostthehost opened #299 "Improve editor support via Web Types"
* **Summary**
Web-types is an open source standard for documenting various web frameworks. It provides editors with detailed information on your component library. It would be nice if Inkline had it's own Web-types definition.

More info:
https://blog.jetbrains.com/webstorm/2021/01/web-types/
https://github.com/JetBrains/web-types

* **Motivation**
I very recently started using Inkline (like it so

[2022-07-14 10:50] joewelds opened #300 "Can't import a single component"
* **What is the expected and current behavior?**
I followed the code on the vite and plugin config documentation pages:
https://www.inkline.io/docs/introduction/installation/vite
https://www.inkline.io/docs/introduction/plugin-options

* **Steps to reproduce**
Try to import a single component with main.js similar to noted code on plugin options page of docs:

[code]

* **Please tell us about your

[2022-07-17 10:48] Duchynko commented on #292
@alexgrozav is there any update for this, please?

[2022-07-17 22:26] tasiotas commented on #293
hi @alexgrozav , I am really stuck with this one. <i-toggle> and <i-checkbox> (potentially more) are having problem with dark mode.
When `colorMode: 'system'`, those components render incorrectly when browser preferred color scheme is set to dark.

On page load:
![image](https://user-images.githubusercontent.com/9046931/179427128-501b12ed-a74e-431e-b237-8b6f9b9f9b96.png)

After clicking button to

[2022-07-19 08:01] alexgrozav commented on #292
@Duchynko @jamaluddinrumi I've gotten to the root of it. It looks like the `navbar-collapsible` is rendered server-side in Nuxt with `display: none`, because the window size cannot be computed (window is undefined in ssr).

I've changed the `navbar-collapsible` to be visible in SSR, essentially preventing any hydration issues from happening in #301.

Sorry for the long delay.

[2022-07-19 10:27] jamaluddinrumi commented on #292
yeay! big thank you
with #301, now it works

[2022-07-19 10:27] #292 closed

[2022-07-22 20:53] dj12djdjs commented on #262
Hello,

I wasn't able to locate any PR regarding a DataTable component. Is this still in development, or just on the roadmap?

[2022-07-23 09:36] alexgrozav commented on #262
@dj12djdjs It's on the roadmap. Haven't started working on this yet, unfortunately.

[2022-07-23 14:59] alexgrozav commented on #300
Hello! Thank you for reporting this. Looks like the latest `vite` had some internal changes. Individual importing should work out of the box now, with the latest Inkline version.

[2022-07-23 14:59] #300 closed

[2022-07-23 14:59] alexgrozav commented on #300
@all-contributors Add @joewelds for bug.

[2022-07-31 11:29] R0N1n-dev opened #304 "Clearable doesnt appear right"
The clearable icon on the input component does not render properly, in development or production
Only works fine in Firefox

* **Steps to reproduce**
  Add clearable option to input

* **Please tell us about your environment:**
    - Version: >=3.0.0
    - Browser: [Brave 1.41  and Chrome 104 ]
    - Language: [all | JavaScript | ES]

package.json
{
  "name": "vite-vue3",
  "version": "0.0.0",
  "

[2022-08-21 14:14] skygate2012 commented on #286
@alexgrozav I suggest to add this as a note in the Installation Guide section. I was confused why the checkboxes aren't showing like the example.

[2022-09-07 06:36] DaeunYoon opened #306 "Error on snapshot test"
* **What is the expected and current behavior?**
Tell us what should be happening and what is happening instead.

The test should not fail as it was only a snapshot test.
But the test failed with the below error line.
[code]

* **Steps to reproduce**
  If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.

1. clone (SideBase)[https:/

[2022-09-19 06:58] Nobi322 opened #312 "Does not start with Nuxt 3 rc.10 [Failed to parse source for import... add "**/*.html?v=841df9b4" to `assetsInclude` in your configuration.]]"
* **What is the expected and current behavior?**
Project dos not start when Inkline is present in package, seems that related with autoImports, that was deprecated in nuxt rc.9

* **Steps to reproduce**
  Update to Nuxt RC.10 (edge.rc.11 have same problem)

* **Please tell us about your environment:**
    "@inkline/nuxt": "^3.1.4",
    "nuxt": "3.0.0-rc.10",

* **Other information**
  ` ERROR  08:

[2022-09-21 09:44] Nobi322 commented on #312
Is here anybody to answer?

[2022-09-21 11:37] alexgrozav commented on #312
Hey! I'm looking into it. Thank you for reporting the issue.

[2022-09-21 11:54] alexgrozav commented on #312
I'm unable to reproduce this. I've just created a clean Nuxt 3.0.0-rc.11 app and it seems to be working without issues. Can you try to reinstall your dependencies? `rm -r node_modules .nuxt && npm install`

If it's still not working, can you provide a minimal reproduction repo or steps?

[2022-09-22 09:42] Nobi322 commented on #312
Hey @alexgrozav thanks for reply! I tried to prepare reproduction, bet seems on stakblitz it works ok. Also fresh install locally was made, tried both npm and pnpm. Same result. Even cleaned project from all other pages/components/modules e.t.c. But same rerulst, in moment when I add any Inkline component it starts to throw errors.

Here is reproduction on stackblitx, it doesn't throw errors, but

[2022-09-22 10:45] alexgrozav commented on #312
Could be that it only happens on Windows. I'll try a Windows machine tomorrow to see what happens.

[2022-09-22 11:31] Nobi322 commented on #312
I tried exact same code that fails on Windows machine, in Ubuntu virtual machine. And it's works. Now need to understand who is responsible for that.

[2022-09-26 13:06] Feelixe-tin commented on #312
I have the same problem on a fresh project. Also running Windows.

[2022-09-28 05:11] alexgrozav commented on #312
I've created an issue in the `nuxt/framework` repository. Seems to be related to referencing `html` files in the latest Nuxt version. I'm sorry guys!

Meanwhile, until it's fixed, you could create a Nuxt plugin manually:

`plugins/inkline.ts`
[code]

[2022-09-28 06:47] Nobi322 commented on #312
@alexgrozav thanks for help!

[2022-09-28 09:15] danielroe commented on #312
Looking into this, this is not an issue with Nuxt, but is coming from Vite's import analysis plugin.

Here's a pure Vite reproduction - https://stackblitz.com/edit/github-kurrn8 - download that on Windows and you should see the same error that you're getting here. I'd suggest raising on https://github.com/vitejs/vite.

[2022-09-29 06:41] alexgrozav commented on #312
Thanks a lot for the help, @danielroe.

I've opened up an issue on the Vite repo: https://github.com/vitejs/vite/issues/10278

[2022-10-03 05:31] then3rdman opened #313 "Form validation entirely non funcitonal"
* **What is the expected and current behavior?**
Validation is completely broken.

![CleanShot 2022-10-03 at 16 29 28](https://user-images.githubusercontent.com/10450280/193507274-cd02430b-d84e-4f6a-8c76-8d7f15cb9b30.png)

* **Steps to reproduce**
[Reproduction](https://stackblitz.com/edit/vitejs-vite-mcraqu?file=src/App.vue)

* **Please tell us about your environment:**
    - Version: 3.1.4
    -

[2022-10-03 12:13] alexgrozav commented on #313
Hi @then3rdman! The form validation needs to create the connection between the form schema data key and the actual input field. To achieve this, you'll need to provide a `name` to your input (in this case, `username`).

https://stackblitz.com/edit/vitejs-vite-lnpdjm?file=src%2FApp.vue

[2022-10-03 12:23] then3rdman commented on #313
appologies, I had been playing with the stackblitz and accidently saved the changes.

Have changed to be what it should be and the error is now there. It would seem to only occure when using `script setup`

[2022-10-03 14:14] alexgrozav commented on #313
Alright, thanks for the update. Looking into it.

[2022-10-03 15:00] alexgrozav commented on #313
Hey! I've released version `3.1.5`, which should fix the issue you're having. Can you please confirm?

To be honest I haven't done much extensive testing for the `useForm` helper (most of my application code is still using options API, until I get the time to refactor it), so please, if you find any issue, make sure to report it and I'll get it fixed asap. 🙏

[2022-10-03 20:01] tasiotas opened #314 "Dropdown on hover closes on mouseout"
When dropdown component is triggered by hover, it closes as soon as mouse leaves triggering element, before it manages to reach dropdown body container.

Issue visible on docs page
https://www.inkline.io/docs/components/dropdown

thank you

[2022-10-04 05:09] then3rdman commented on #313
Working correctly now!

[2022-10-04 05:09] #313 closed

[2022-10-06 06:21] DenisJankelaic commented on #296
Stumbled upon same issue. Would be nice to be adjusted.

[2022-10-06 10:21] alexgrozav commented on #314
Fixed in #319. Released under version `3.1.6`.

Please try it out and confirm that it works for your use case as well. :)

[2022-10-06 10:21] #314 closed

[2022-10-06 10:21] alexgrozav commented on #296
Fixed in #319. Released under version `3.1.6`.

Please try it out and confirm that it works for your use case as well. :)

[2022-10-06 10:21] #296 closed

[2022-10-06 17:38] tasiotas commented on #296
thank you, works well

[2022-10-06 17:43] tasiotas commented on #293
hi @alexgrozav , have you had a chance to take a look at this?
It's preventing me from using dark theme on my website, and I have no clue what is causing it.

thank you

[2022-10-06 19:25] alexgrozav commented on #293
Sorry, I haven't had the chance to look at it. I'll try to see what's happening tomorrow.

[2022-10-10 07:43] alexgrozav commented on #293
Hey! I've looked into it. The bug is caused by `inklineGlobals` not being available at the time of calling `defaultPropValue` in SSR. This is fixed in Inkline 4 by providing the default color and default size using a computed prop.

If you have the time and would like to backport it into Inkline 3, I'd appreciate a PR.

Component Example here: https://github.com/inkline/inkline/blob/ab1ae95860b417

[2022-10-11 18:25] vecter commented on #312
Thanks for this snippet. Why does creating a plugin resolve this issue?

[2022-10-14 07:50] tudorels commented on #262
Hello,
Do you have any news about DataTable?
Thank you!

[2022-10-20 14:28] Nobi322 opened #323 "i-dropdown: Unhandled error during execution of beforeUnmount hook"
* **What is the expected and current behavior?**
  Dropdown component throws exception if it's present on loaded page and located under some async flag,

* **Reproduction**
https://stackblitz.com/edit/nuxt-starter-etgguc?file=pages/test.vue

* **Steps to reproduce**
  1. Open reproduction
  2. Press "Start" button, it will switch to /test.
  3. Paginate across "users".
  4. You will see in browser

[2022-10-26 22:19] simondib opened #327 "IButton voice control not working, breaking accessibility"
* **What is the expected and current behavior?**
Voice control should be able to "click" a button (IButton)

* **Steps to reproduce**

1. Install "Handsfree for web" voice control Chrome extension and enable plugin
2. Go to [https://storybook.inkline.io/iframe.html?args=&id=components-button--basic&viewMode=story](https://storybook.inkline.io/iframe.html?args=&id=components-button--basic&viewMode=

[2022-11-01 02:09] Kiptoke commented on #312
Hey @alexgrozav - I noticed your [opened Vite issue](https://github.com/vitejs/vite/issues/10278) was resolved a couple days ago - do you know when that resolution should help resolve this issue?

[2022-11-01 21:07] konstantin-lebejko opened #328 "Unexpected <i-select> behaviour when resetting its state"
* **What is the expected and current behavior?**
If there are several <i-select> components on the page and the state is reset for all of them at the same time - all <i-select> components expand at the same time.

* **Steps to reproduce**
1) Open this pen: https://stackblitz.com/edit/inkline-ryavqd?file=src%2FApp.vue
2) Select value of first <i-select>
3) Select value of second <i-select>
4) Hit "

[2022-11-01 21:14] konstantin-lebejko commented on #328
Can verify that the behaviour persists on Inkline 3.1.8.

[2022-11-01 21:45] konstantin-lebejko commented on #328
The behaviour is most likely related to `inputValue` [watcher](https://github.com/inkline/inkline/blob/9cda27b34fa4c886680dab36b34b5358ddccdbee/src/components/ISelect/script.ts#L409) that does not take into account `null`.

[2022-11-01 21:59] konstantin-lebejko commented on #328
To resolve this issue there is a temporary work around, not a nice-looking solution but works:
- Wrap state reset in async function
- Disable select before resetting state
- Call state reset and await async function to finish
- Enable select after the state is reset.

[2022-11-03 17:12] tasiotas commented on #293
Hi,
Thanks for explanation and pointer to the code.

I forked repo and started dev server. Were you able to reproduce this behavior in dev with Storybook? It looks ok in dark mode before I even toggle light/dark in Story's UI.

[2022-11-04 07:30] alexgrozav commented on #293
@tasiotas Unfortunately you can't reproduce it in Storybook. This only happens when Server Side Rendering is used. 🫤

[2022-11-06 07:44] alexgrozav commented on #328
Thank you for reporting this. 😰 I'll look into it.

[2022-11-08 09:25] alexgrozav commented on #327
Thank you for reporting this. Probably removing the `aria-disabled` property altogether when it's disabled would work. I'll take care of it.

[2022-11-16 17:02] GMKR opened #329 "Validation errors are not displayed when empty form is submitted - Composition API"
* **What is the expected and current behavior?**
If an empty form with validation is submitted, error messages are not displayed, and the `submit` event is not triggered.

When an empty form is submitted, all validations should run and proper error messages should be displayed

* **Steps to reproduce**

Component
[code]

* **Please tell us about your environment:**
    - Version: 3.1.8
    - Brows

[2022-11-20 18:08] theruziev opened #330 "Tab over dropdown from navbar"
* **What is the expected and current behavior?**
<img width="1358" alt="image" src="https://user-images.githubusercontent.com/32102033/202918335-16c09637-7119-4643-88ef-d7b6c072097a.png">

* **Steps to reproduce**
https://stackblitz.com/edit/inkline-rhjbx8?file=src/App.vue

* **Please tell us about your environment:**
    - Version: 3.1.8
    - Browser: Firefox 107
    - Language: TypeScript

[2022-11-20 18:10] theruziev commented on #330
Found another one, when the navbar open in mobile version and you tried to open the dropdown navbar collapsed

[2022-11-29 08:25] Nobi322 commented on #323
Same behavior on Nuxt 3 Stable + inkline@3.1.9

[2022-11-29 08:35] Nobi322 commented on #323
Some workaround can be used. Just wrap i-dropdown with vue's KeepAlive component
[code]